[2016-09-22 13:31] japplewhite opened #3 "We need a generic non-human account for automated tasks"

[2016-09-22 13:32] sankarshanmukhopadhyay commented on #3
Citing https://help.github.com/articles/what-s-the-difference-between-user-and-organization-accounts/ it seems that bot accounts are essentially no different from an user account. Is this to be consumed by automation or, similar?

[2016-09-26 13:13] r0h4n commented on #3
@sankarshanmukhopadhyay , Yes, we need a bot account in github for Travis, Coveralls and in future we would also be automating the merge process which will happen only after a successful human review

[2016-09-26 13:17] sankarshanmukhopadhyay commented on #3
@r0h4n - can I have a name? I think I comprehend the notion of what needs to be done.

[2016-09-26 13:18] r0h4n commented on #3
"tendrl_github" or "tendrl_bot" works for me

[2016-09-30 08:45] nthomas-redhat commented on #3
I vote for 'tendrl_bot'

[2016-10-02 20:05] anupnivargi opened #4 "Create Gluster volume API"
Create a API to implement Gluster create volume.

[2016-10-13 07:15] r0h4n opened #6 "tendrl-api: install instructions documentation"
There should be document which describes:

what software should be installed and how should be configured before installing tendrl-api
tendrl-api installation process
tendrl-api post installation steps like configuration, service starting and so on

[2016-10-24 13:28] anivargi commented on #6
@r0h4n this is going to be part of the Tendrl/tendrl repo README

[2016-10-24 13:48] r0h4n commented on #6
@anupnivargi ok, is it WIP? PR?

[2016-10-25 16:14] mkudlej opened #8 "authentication"
Implement this story in Jira https://tendrl.atlassian.net/browse/TEN-124

[2016-10-28 02:32] japplewhite opened #9 "delete the Tendrl/tendrl repo"
Hi @r0h4n @brainfunked @sankarshanmukhopadhyay  - I would like to delete this empty repo unless we have plans for it. It tends to confuse newcomers. There are open issues on it - perhaps they should be closed first?

[2016-10-28 06:32] r0h4n commented on #9
@anivargi owns a PR on this repo, That and the open issues need to be closed. No problems after that

[2016-10-31 09:29] mkudlej commented on #9
@japplewhite It seems that this repo is for API, isn't it?

[2016-11-01 13:44] mbukatov commented on #9
Assuming this repository is here for the tendrl api component, could you at least rename this repo to something more meaningful?

[2016-11-02 06:32] anivargi commented on #6
@r0h4n it is part of thttps://github.com/Tendrl/tendrl/pull/7 README.md

[2016-11-02 06:33] anivargi commented on #4
#7

[2016-11-07 07:17] r0h4n commented on #9
@brainfunked @anivargi are you guys ok with this removal?

[2016-11-07 07:20] anivargi commented on #9
@japplewhite we can rename it to tendrl-api?

[2016-11-08 13:15] r0h4n opened #10 "Import SDS Cluster API"
As a user of tendrl, I should be able to import an existing sds cluster.

Assumptions:
- Tendrl node agent is installed, configured and running on all the sds cluster nodes.
- Tendrl central store (etcd) should be accessible to all above node agents

Bootstrapping:
- tendrl-api to find node agent definition yaml at /nodes/tendrl_node_agent_definition.yaml
- tendrl-api to find discovered sds_name a

[2016-11-17 20:45] anivargi commented on #10
Was fixed as part of https://github.com/Tendrl/tendrl-api/releases/tag/v1.0

[2016-11-17 20:45] #10 closed

[2016-11-17 20:46] anivargi commented on #9
The repo has been named to tendrl-api now, so closing.

[2016-11-17 20:46] #9 closed

[2016-11-17 20:46] anivargi commented on #4
Was implemented as a part of https://github.com/Tendrl/tendrl-api/releases/tag/v1.0

[2016-11-17 20:46] #4 closed

[2016-11-17 20:47] anivargi commented on #3
Whats the status here?

[2016-11-17 20:47] #3 closed

[2016-11-18 13:50] fbalak opened #19 "Tendrl Definitions file structure"
In README.adoc is written:

but there is no spec/fixtures/sds directory in git repo. There are some definition files in spec/fixtures/definitions but it is not clear how to use them.

[2016-11-22 08:13] fbalak opened #23 "Incompatibility of documentation and API"
Request URLs for gluster volume creation via API are not same as URLs specified in documentation [1].
For example currently works
`POST /:cluster_id/GlusterCreateVolume`
instead of
`POST /cluster/:cluster_id/volume/create`
Json data that is sent to API in POST requests is also different.
Either the documentation or API implementation should be corrected.

[1] https://github.com/Tendrl/documentatio

[2016-11-22 08:15] anivargi commented on #23
Hi,

I am working on updating the existing documentation for all the flows.

--
Anup Nivargi

[2016-11-23 14:35] fbalak opened #24 "Job_id status"
Api returns job_id after volume creation or deletion requests are sent. There should be some api request that allows getting status of job_id.

[2016-11-24 10:31] brainfunked commented on #19
@fbalak Those are required only if you wish to run the unit tests. In any case, it looks like the path in the documentation is still wrong, which I'll fix.

[2016-11-28 17:05] fbalak opened #25 "EPEL dependency for deployment via packages"
Tendrl upstream rpm packages should not depend on any package from EPEL repository.
Packages required from EPEL:
- rubygem-rack-protection
- rubygem-rack
- rubygem-tzinfo
- rubygem-activesupport
- rubygem-i18n
- rubygem-thread_safe

[2016-11-28 17:26] r0h4n commented on #25
Tendrl targets to create rpms for fedora, centos7, rhel7, I guess you are trying to say that the rhel7 rpms should not depend on EPEL?

Because using EPEL is fine for Tendrl in case of fedora or centos7

[2016-11-30 09:55] fbalak opened #26 "Documentation: vendor path for packages"
There are many references to 'vendor' path in documentation but it is not clear where to find it when you install tendrl-api from packages. In documentation should be specified how to set up and run tendrl-api installed from packages.

[2016-11-30 10:04] fbalak opened #27 "tendrl-apid doesn't run"
There are some errors when command 'service tendrl-apid start' is executed:
[code]
Service won't run. In /usr/lib/systemd/system/tendrl-apid.service is probably mistyped:
`ExecStart=vendor/bin/puma -e production -d`

[2016-11-30 12:47] brainfunked commented on #27
How did `vendor/bin/puma` end up in the service file? https://github.com/Tendrl/tendrl-api/blob/master/tendrl-apid.service shows it to be `/usr/bin/puma`.

[2016-11-30 12:57] anivargi commented on #27
@fbalak can you verify the version of the rpm that you are using is the latest one? Also can you tell us more about your environment where you are trying to run this?

[2016-11-30 13:56] fbalak commented on #27
It is tendrl-api-0.0.1-8.el7.centos.noarch package and I run it on Centos 7.2.

[2016-11-30 15:00] mkudlej commented on #27
I've tried ```/usr/bin/puma``` and it doesn't work too.

[2016-12-01 09:03] anivargi opened #28 "Use 'value' attribute in objects to locate object path in etcd"
Use 'value' attribute from the yaml definitions to find the path of object in etcd. The path will be used to retrieve a single instance or list of the object.

[2016-12-01 10:49] fbalak opened #29 "Unify etcd.yml location"
When you install tendrl-api from source than etcd.yml is located in <tendrl-api-dir>/config/etcd.yml. When you install tendrl-api from packages than etcd.yml is located in /etc/tendrl/etcd.yml. This sould be unified for both types of installation (it should be in /etc/tendrl/etcd.yml for installation from sources too).

[2016-12-01 11:02] mkudlej opened #30 "tedrl-apid doesn't run"
I've tried to run tendrl-apid by command from systemd unit file https://github.com/Tendrl/tendrl-api/blob/master/tendrl-apid.service and it doesn't work:
[code]
Also I've tried to put this command for last package tendrl-api-0.0.1-8.el7.centos.noarch because unit file there has some issues described here https://github.com/Tendrl/tendrl-api/issues/27
And I've tried to run tendrl-apid service:
[cod

[2016-12-01 11:22] TimothyAsir commented on #30
Make sure you have installed tendrl-api, tendrl-api-httpd, tendrl-api-doc
and configure the etcd details in /etc/tendrl/tendrl.yml
and started httpd service and tendrl-apid service

Can you past here the results of
1) rpm -qa | grep tendrl
    rpm -qa | grep puma
2) ls -la /usr/share/tendrl-api/
3) Also can you please provide us the first 10 lines from file /usr/share/tendrl-api/lib/tendrl.ru
head

[2016-12-01 13:19] mkudlej commented on #30
[code]
[code]

[code]

[2016-12-01 13:53] TimothyAsir commented on #30
looks like you are using wrong repo.
Please uninstall the tendrl-api* packages and install the correct repo using
https://copr.fedorainfracloud.org/coprs/tendrl/tendrl/repo/epel-7/tendrl-tendrl-epel-7.repo
and install the tendrl-api* packages.

you can install the repo using
wget https://copr.fedorainfracloud.org/coprs/tendrl/tendrl/repo/epel-7/tendrl-tendrl-epel-7.repo -P /etc/yum.repos.d/

then

[2016-12-01 13:57] TimothyAsir commented on #30
Also check /etc/yum.repos.d directory and remove any repo file pointing to old repo [timothyasir-tendrl]
https://copr.fedorainfracloud.org/coprs/timothyasir/tendrl/repo/epel-7/timothyasir-tendrl-epel-7.repo

[2016-12-01 16:31] mkudlej opened #31 "stacktrace in development environment"
I've tried to install all components from sources by Ansible playbooks
from https://github.com/Tendrl/usmqe-setup.

I see this stacktrace when I call
[code]
[code]

[2016-12-01 16:33] fbalak commented on #30
After installing tendrl-api from https://copr-be.cloud.fedoraproject.org/results/tendrl/tendrl/epel-7-x86_64/ service tendrl-apid runs.

[2016-12-01 16:33] fbalak commented on #27
After installing tendrl-api from https://copr-be.cloud.fedoraproject.org/results/tendrl/tendrl/epel-7-x86_64/ service tendrl-apid runs.

[2016-12-01 16:33] #27 closed

[2016-12-01 17:25] TimothyAsir commented on #30
Great!, We can close this issue as resolved

[2016-12-05 11:22] mbukatov opened #32 "[documentation] puma is used as a web server"
In the default installation (as suggested by README file and Gemfile.lock file), [puma websterver](http://puma.io/) is installed and configured to serve the Tendrl API. At first sight, this seems to be extraneous. Is puma web server really needed for the Tendrl API to run?

[2016-12-05 13:08] fbalak opened #33 "Status of jobs in etcd doesn't reflect true state of job"
When calling GET /1.0/:cluster_id:/GlusterCreateVolume it returns job_id. When checking job_id through etcd api /v2/keys/queue/:job_id: there is written "status": "finished", but no gluster volume is created. There should be some error state when job fails.

[2016-12-05 13:12] mbukatov opened #34 "No systemd unit file for puma webserver in puma.spec file"
There is no systemd unit file for puma daemon in puma.spec file.

[2016-12-05 13:13] mbukatov commented on #34
Are you seriously considering maintenance of other rpm packages in this repository?

[2016-12-06 07:02] TimothyAsir commented on #34
Actually puma does not provide any specific daemon for managing that service. We are just using whatever puma provides. Where as we are having a seperate service called tendrl-apid which helps to manage puma by starting, stopping, restarting and so on based on our tendrl-api uses.

[2016-12-06 07:07] TimothyAsir commented on #31
Its looks like some issue with etcd configuration.
Could you please check the configuration in etcd.yml in /etc/tendrl directory under production tag.
Once you configure the etcd, please restart the httpd service and then restart tendrl-apid service.

[2016-12-06 07:13] mbukatov commented on #34
Thanks for the update. It seems to me that the puma is more like a web server library, so that the service unit file is provided for  `tendrl-api` rather then puma itself, and that puma can't be started alone without the `tendrl-api`, am I right?

[2016-12-06 07:59] TimothyAsir commented on #29
Actually we used two different ways to keep the file etcd.yml is to support rpm installation and bundler installation. Using bundler installation we can have any number of instance with different versions of ruby gems which may have different versions of etcd.yml from a specific directory. So that we thought of keeping it in config folder. Where as for rpm installation we (can) provide unique path

[2016-12-06 10:03] fbalak opened #35 "Question: Should we do some validation when creating bricks via GlusterCreateVolume api call?"
During testing I noticed that `GlusterCreateVolume` api call creates
brick directories for all bricks passed to the call. So for example,
when one passes `node1.example.com:/mnt/brick` as one of the bricks to the
call (which is an invalid input wrt gluster conventions), `/mnt/brick`
directory is created.

The assumption on the Gluster side is that a brick directory is created in
the root directory

[2016-12-06 11:00] mkudlej commented on #35
I think creating volume cannot have side effects like creating directories for bricks. If API function has name ```GlusterCreateVolume``` it should only create Gluster volume from parameters.
Also I think there can be checks if volume can be created.
I expect that for creating bricks there will be different API function.

[2016-12-07 14:32] TimothyAsir commented on #30
Since this issue is resolved, i a closing this

[2016-12-07 14:32] #30 closed

[2016-12-07 14:52] TimothyAsir commented on #29
We are currently loading etcd.yml if its available in /etc/tendrl otherwise we are loading it from config folder only.

Does this resolve this issue and can we close this as resolved?

[2016-12-07 14:55] TimothyAsir commented on #34
yes you are right, puma can't be started alone without tendrl-api.

[2016-12-08 04:40] shtripat commented on #35
@mkudlej regarding creation of directories while volume creation is actually a gluster feature. Gluster can create first level directories if they dont exist and passed as brick mount path. For example a dir /mnt/vol1_brick1 doesnt exist but /mnt is actually existing. In this case if a volume creation passes one of the bricks as /mnt/vol1_brick1, gluster would actually create the directory and wou

[2016-12-08 06:25] anmolbabu opened #36 "Travis job should check git commit message for github bug id and an optional tendrl spec name"
In accordance with Tendrl/common#66 all tendrl repos need a travis integration to check commit message for certain mandatory fields as described below:
"
Moving on, all git commits should contain mandatory mention on newline of
"tendrl-bug-id: <tendrl_repo>/" and optional mention of "tendrl-spec: <tendrl_spec_name>" in the commit msg.

eg:
"""
Packaging python-etcd

Added Makefile and spec file to

[2016-12-08 11:42] mkudlej commented on #35
@shtripat Do I understand it right that this is feature of Gluster itself and Tendrl doesn't create thos directories?

[2016-12-08 13:30] shtripat commented on #35
@mkudlej thats true..

[2016-12-08 13:31] shtripat commented on #35
@mkudlej thats true..

[2016-12-12 05:33] sankarshanmukhopadhyay commented on #29
@TimothyAsir - can we have some additional detail.

- when using an RPM based installation - where is the configuration file located and read from

- when using a bundler approach - where is the configuration file located and read from

[2016-12-12 05:34] sankarshanmukhopadhyay commented on #31
@mkudlej were you able to provide the detail sought by @TimothyAsir ?

[2016-12-12 05:35] sankarshanmukhopadhyay commented on #6
Alright - it is not clear as to what remains to be done for this issue. Anyone?

[2016-12-12 20:37] mbukatov opened #37 "etcd related configuration - possible unification?"
I noticed that there is a configuration file for access details to etcd instance: /etc/tendrl/etcd.yml

Excerpt from [config/etcd.sample.yml](https://github.com/Tendrl/tendrl-api/blob/master/config/etcd.sample.yml):

[code]

While other tendrl components uses etcd instance referenced in `tendrl.conf` file (based on [etc/tendrl/tendrl.conf.sample](https://github.com/Tendrl/common/blob/master/etc/te

[2016-12-13 06:08] shtripat commented on #35
@mkudlej @fbalak can we close this ?

[2016-12-13 06:44] nthomas-redhat opened #38 "Repository name changes"
Repository names need to be updated to follow lowercase, hyphenated convention. In this case need to drop the tendrl prefix

[2016-12-13 06:48] nthomas-redhat commented on #38
[](https://github.com/Tendrl/specifications/pull/24)

[2016-12-13 06:56] nthomas-redhat commented on #38
https://github.com/Tendrl/specifications/pull/24

[2016-12-13 08:15] anivargi commented on #32
@mbukatov We use Puma as a application server, in development mode you don;t need a web server like Apache for ex., hence we just need the application server.

When we are running in production, we need the web server sitting on top of the application server and hence we use Apache + Puma, we could just use only Puma without Apache, but having a Web server sit on top of a application server has it

[2016-12-13 08:19] #6 closed

[2016-12-13 08:20] anivargi commented on #19
@fbalak @brainfunked this is outdated due to the definitions changes. So closing.

[2016-12-13 08:20] #19 closed

[2016-12-13 08:21] anivargi commented on #23
@fbalak can I close this?

[2016-12-13 08:22] anivargi commented on #25
@fbalak can i close this?

[2016-12-13 08:24] anivargi opened #39 "Use 'enabled' attribute to allow API requests"
Tendrl API should use the 'enabled' attribute defined in the definitions yaml files to allow enabled requests only.

[2016-12-13 11:43] mbukatov commented on #32
@anivargi So puma server is required, ok. I was not sure if using just apache without puma is valid scenario for running tendrl-api.

[2016-12-13 11:56] mbukatov commented on #25
@anivargi yes, qe wanted to verify that the decision to depend on packages from epel is acknowledged

[2016-12-13 13:43] r0h4n commented on #39
Please ensure "enabled" is respected on "Flows" too along with "objects"

[2016-12-13 16:07] mbukatov commented on #29
Does it mean that I can put configuration files for tednrl-api into `/etc/tendrl/` no matter which way is the api installed?

[2016-12-14 08:57] fbalak commented on #23
@anivargi I would wait with closing until pull request with correction will be merged.

[1] https://github.com/Tendrl/documentation/pull/62

[2016-12-14 10:37] brainfunked commented on #37
The current format of the configuration file for the API is a standard way of doing configuration in ruby applications. I would suggest that it be kept as it is.

[2016-12-14 12:46] nthomas-redhat opened #40 "API to get the details of the ceph/gluster cluster"
Currently to import a cluster, user expected to provide the all the nodes in the cluster as input. This will be inconvenient if the size of the cluster is large. Instead the usecase flow is expected to be modified as:

select one of the node in cluster
use the selected node to get the details of the cluster
submit the request to all the nodes to import the cluster

Below APIs are requested:
GET /1

[2016-12-15 12:34] mbukatov opened #41 "[question] [documentation] How to setup systemd unit file when installing from sources?"
I'm trying to automate installation of tendrl-api from both sources and rpm packages for purpose of integration testing. For source installation, I follow [README file](https://github.com/Tendrl/tendrl-api/blob/master/README.adoc) using *production setup only* variant.

The problem is that setup of systemd unit file for `tendrl-apid` service is not documented for source based installation.

The pu

[2016-12-15 12:44] mbukatov commented on #41
Suggested workaround is available in https://github.com/Tendrl/usmqe-setup/commit/814b90bb1a30b11a8264a95cc321967ec06c3b07

[2016-12-15 12:59] mbukatov opened #42 "[SELinux] [packaging] enabling boolean during package installation"
[README file](https://github.com/Tendrl/tendrl-api/blob/74db59b7cfb7ac1a1df20cfcda948c33a67061d8/README.adoc) which describes the installation process right now states that during installation particular SELinux boolean needs to be enabled:

[code]

Since the httpd integration is located in dedicated rpm package:

[code]

There is a question whether such configuration tweak should be done during i

[2016-12-15 13:55] anivargi opened #43 "Expose monitoring API's"
To have a single interface, tendrl-api will make http requests to the monitoring app and essentially work as a proxy to provide monitoring data.

[2016-12-15 14:26] mbukatov commented on #42
I asked SELinux people to provide a guidance here.

[2016-12-16 08:16] anivargi opened #44 "API should only respond with non deleted entries"
Tendrl API should filter out deleted entries (deleted = true)  when responding to list or details view.

[2016-12-19 08:48] mbukatov commented on #29
Since there is no response, I would like to make clear how QE team is going to approach this during integration testing: all configuration files, including ones related to `tednrl-api` are going to be installed to `/tec/tendrl/` directory. This applies for both installation from source and rpm packages. So far, this seems to work. If this doesn't work, it's obviously a blocker bug (as it would pre

[2016-12-19 08:51] mbukatov commented on #32
Could you make clear the role of puma webserver in the documentation? Eg. mention the purpose of puma and the fact that one can't run tednrl-api without it, along with the reasoning for this.

[2016-12-19 08:56] mbukatov commented on #34
Related upstream documentation: https://github.com/puma/puma/blob/master/docs/systemd.md

[2016-12-19 09:00] mbukatov commented on #34
Based on the explanation from @TimothyAsir and upstream documentation (linked above), I'm closing this issue. Puma systemd service file is not expected to be present in the package. There is a service file for the tendrl-api instead, which is the correct approach here.

[2016-12-19 09:00] #34 closed

[2016-12-19 09:06] mbukatov opened #45 "[systemd] name of systemd service should be "tendrl-api" instead of "tendrl-apid""
The current name of systemd service for tendrl-api is `tendrl-apid` (note the `d` in the end). Wouldn't be better to use the same name for tendrl component, it's package and it's systemd service?

[2016-12-19 09:11] mbukatov opened #46 "[systemd] After=network.target missing in tendrl-apid.service file"
Service file for tendrl-api doesn't contain `After=network.target` option as suggested in [upstream puma docs related to systemd](https://github.com/puma/puma/blob/master/docs/systemd.md).

See current content of `tendrl-apid.service` file:

[code]

[2016-12-19 09:42] mbukatov opened #47 "[configuration] [question] options in etcd.yml config file"
In `etcd.yml` config file, there are options related to connection to tendrl etcd instance, see full example below:

[code]

While the `tendrl.conf` config file (based on [etc/tendrl/tendrl.conf.sample](https://github.com/Tendrl/common/blob/master/etc/tendrl/tendrl.conf.sample) from tendrl-common) looks like this:

[code]

What does the following options not present in `tendrl.conf` do:

* `base_k

[2016-12-19 09:42] mbukatov commented on #47
This is related to https://github.com/Tendrl/tendrl-api/issues/37

[2016-12-19 10:12] mbukatov commented on #41
Related [puma documentation for systemd usage](https://github.com/puma/puma/blob/master/docs/systemd.md).

[2016-12-19 14:10] wrabcak commented on #42
Martin,
This is really good question. As you said, we don't have any guidance yet. There are two ways how to handle it.
 First one: If some value of boolean is changed in %post install phase of some package, there should be also change in %postun phase where it will be reverted. But it has one problem, if boolean was turned on before installing package, %postun phase will turn it off, this can cau

[2016-12-20 07:50] anivargi opened #48 "Integrate with monitoring API to generate hosts lists with monitoring data"
Tendrl API needs to provide the storage, cpu usage, memory and alert
count per host in the hosts list API

[2016-12-20 08:24] fbalak opened #50 "Do not generate cluster id for failed import gluster cluster job"
Api creates job when calling `POST` `GlusterImportCluster` with incorrect JSON data. After finishing this job there is in etcd `Status: finished` and generated `cluster_id`. but cluster with given `cluster_id` doesn't exist. There shouldn't be any `cluster_id` and job should be labeled as failed when job fails.

[2016-12-20 12:11] mbukatov opened #51 "[documentation] tendrl-api full example is missing"
The [README](https://github.com/Tendrl/tendrl-api/blob/74db59b7cfb7ac1a1df20cfcda948c33a67061d8/README.adoc) file states that:

It would be nice if this note would also include a full example of some query of the api, eg.:

[code]

## Reasoning

This would be useful for quick check that the tendl-api is up and running.

Moreover at the current state, there is no full example of tendrl-api query do

[2016-12-20 13:41] mkudlej commented on #40
I think that there should be also ID of Ceph/Gluster cluster in response. Because User should be able to identify cluster(from Ceph or Glsuter perspective). For example in case of Ceph it is **cluster name** and **cluster ID**.

[2016-12-20 14:14] mbukatov commented on #31
I see the same issue with tendrl-api installed from sources from current master (commit 74db59b7cfb7ac1a1df20cfcda948c33a67061d8). I noticed this during checking of our setup playbooks (see https://github.com/Tendrl/usmqe-setup/pull/6 for details)

## Reproducer

I install both etcd and tendrl-api on the same machine, as described in `tendrl_gluster.yml` playbook:

[code]

Then just after the inst

[2016-12-20 14:15] mbukatov commented on #31
@TimothyAsir @sankarshanmukhopadhyay I'm providing the details instead of mkudlej in the previous comment.

[2016-12-21 08:15] shtripat commented on #31
@anivargi I remember even if tendrl api and etcd services are running the api `curl http://localhost/api/1.0/Flows` would keep returning 500 till node-agents are started on storage nodes and some nodes are known to api layer. Can you confirm/comment??

[2016-12-23 08:38] nthomas-redhat commented on #40
https://github.com/Tendrl/specifications/pull/60

[2017-01-03 16:31] mbukatov commented on #31
Any updates on this?

[2017-01-06 09:49] shtripat commented on #24
@anivargi can you please respond to this?

[2017-01-06 12:33] fbalak opened #53 "[rpm packaging] configuration files are not marked as configuration"
Package `tendrl-api-0.0.1-1.el7.centos.noarch.rpm` from https://copr-be.cloud.fedoraproject.org/results/tendrl/tendrl/epel-7-x86_64/ copr doesn't mark configuration files as configuration.

This breaks Fedora packaging policy and will have impact on user changes in
affected configuration files during package upgrades.
### Reproducer

[code]

While expected result would be:

[code]

for more inform

[2017-01-09 09:50] r0h4n commented on #38
@Tendrl/tendrl_api Please finish this task on highest priority (cc @anivargi )

[2017-01-09 13:15] nthomas-redhat commented on #31
@mkudlej , can you respond to https://github.com/Tendrl/tendrl-api/issues/31#issuecomment-268462462 please. There is an issue with tendrl-apid if there is no nodes are present in etcd, it always throws 500. Could you please confirm this?

[2017-01-09 14:19] brainfunked commented on #24
This is being implemented as part of https://github.com/Tendrl/specifications/issues/55.

[2017-01-10 09:23] mbukatov commented on #31
@nthomas-redhat Do I read it right that you are asking for us to reproduce this again and check if there are some nodes in etcd? How could I check that there are no nodes in etcd? I'm not familiar with such implementation details yet.

That said, there are multiple problem we need to fix. When some etcd key/value is missing, tendrl-api should

* not crash, but report the issue (see details below)

[2017-01-10 17:25] mbukatov commented on #31
When I use `tendrl_gluster.yml` from usmqe-setup to install from current Tendrl sources, I can see that the `Flows` call works:

[code]

I checked that tendrl-node-agent service is up and running on all storage nodes.

To verify whether I can reproduce the issue when tendrl-node-agent have no chance to talk to etcd (as asked in https://github.com/Tendrl/tendrl-api/issues/31#issuecomment-271281453)

[2017-01-11 09:16] mbukatov commented on #45
Similar issues filed for other components:

* https://github.com/Tendrl/gluster-integration/issues/107
* https://github.com/Tendrl/ceph-integration/issues/77

[2017-01-11 13:11] fbalak opened #54 "[rpm packaging] Rakefile in tendrl-api-doc is marked as a documentation file"
Package `tendrl-api-doc-0.0.1-1.el7.centos.noarch.rpm` from https://copr-be.cloud.fedoraproject.org/results/tendrl/tendrl/epel-7-x86_64/ copr marks Rakefile as a documentation. I think that it shouldn't be marked as a documentation.

### Reproducer

[code]

While expected result would be:

[code]

[2017-01-12 09:48] fbalak opened #55 "Calling GlusterStartVolume api call doesn't work"
When calling `https://hostname/api/:cluster_id:/GlusterStartVolume` specified by `https://hostname/api/:cluster_id:/Flows` server returns `job_id`. After processing of job is complete, nothing happens. This method should be finished.

[2017-01-12 09:48] fbalak opened #56 "Calling GlusterStopVolume api call doesn't work"
When calling `https://hostname/api/:cluster_id:/GlusterStopVolume` specified by `https://hostname/api/:cluster_id:/Flows` server returns `job_id`. After processing of job is complete, nothing happens. This method should be finished.

[2017-01-15 17:42] #38 closed

[2017-01-18 12:05] anmolsachan commented on #45
PR #49 already there .. Already has intended changes.

[2017-01-19 06:31] anmolbabu opened #57 "Add apis for accessing and filtering alerts and listing alert types"

[2017-01-19 06:32] anmolbabu opened #58 "Add apis for adding email configuration and also provide a help api for the same"

[2017-01-19 06:34] anmolbabu opened #59 "Provide api for listing supported medium of notification"

[2017-01-19 06:54] anmolbabu commented on #57
Spec for the same @ https://github.com/Tendrl/specifications/pull/124

[2017-01-19 06:54] anmolbabu commented on #58
Spec for the same @ Tendrl/specifications#124

[2017-01-19 06:55] anmolbabu commented on #59
Spec for the same @ Tendrl/specifications#124

[2017-01-24 10:08] TimothyAsir opened #60 "Provide common mechanism to update version"

[2017-01-24 20:38] ktdreyer commented on #60
`lib/tendrl/version.rb` has the version number, similar to `__init__py` in Python projects. We should be able to query (and write) that dynamically.

[2017-01-25 20:01] zeichenanonym opened #61 "Access to etcd keys which are not present"
Tendrl-api is trying to access keys on first boot, which are not present. This causes a complete failure and no apparent way to fix it.

- This is currently breaking tendrl-ansible build! -
More info over here:
https://github.com/Tendrl/tendrl-ansible/issues/1

[2017-01-26 07:03] mkudlej commented on #61
I think this is knows issue. QE opinion is here https://github.com/Tendrl/api/issues/31#issuecomment-271525868
Summary: API should clearly report issue and it should not crash with stacktrace.

[2017-01-26 11:19] brainfunked commented on #61
This particular key is absolutely mandatory for the API to function. While the exception could be caught and handled, the response to the requests would still be a 5xx. This is because the prerequisites for the API to function aren't setup and no queries can be responded to.

The best I can think of is to provide a helpful message as a response rather than a backtrace.

[2017-01-27 11:38] TimothyAsir opened #62 "Fix "No such file or directory" error on rpm build"
1) Fix File tendrl-api-1.2.tar.gz: No such file or directory error
2) Fix lib/tendrl/presenters/' is not a directory error

[2017-01-27 15:39] japplewhite commented on #31
This seems to conflict with the "green field" use case where I want to install ceph or gluster (by depending on a node agent running for an as yet non-existent service).

[2017-02-01 05:11] nthomas-redhat opened #66 "RPM : tendrl-api-httpd and tendrl-api-doc are not available on copr"
Above mentioned packages needs to be built.
Also tendrl-api-httpd to be added as a dependency to tendrl-dashboard

[2017-02-01 06:18] TimothyAsir commented on #66
tendrl-api-httpd and tendrl-api-doc are subpackages for tendrl-api. These packages are build along with tendrl-api. Please check the link for reference https://copr-be.cloud.fedoraproject.org/results/tendrl/tendrl/epel-7-x86_64/00505944-tendrl-api/

Hope we can close this issue.

[2017-02-01 07:03] nthomas-redhat commented on #66
@TimothyAsir Does https://github.com/Tendrl/dashboard/issues/118  taken care?

[2017-02-01 13:55] fbalak commented on #24
Tested with tendrl-api-1.2-02_01_2017_01_51_04.noarch. There is implemented hostname/api/1.0/jobs call which returns list of jobs.

[2017-02-01 13:55] #24 closed

[2017-02-01 15:14] fbalak opened #67 "Imported cluster is not in a list of clusters when import job is finished"
I call `ImportCluster` api call for importing gluster cluster, wait for status of import job to be "finished" and then I get list of clusters via `GetClusterList` api call. If I call `GetClusterList` right after job is finished the imported cluster is not in the returned response. I have to wait for a second.
If status of import job is finished then the imported cluster should already be in a list

[2017-02-01 15:45] fbalak opened #68 "Creation of gluster volumes is not working"
Api server returns `404 Not found` message when I call `hostname/api/1.0/cluster_id`, `hostname/api/1.0/cluster_id/Flows` or `hostname/api/1.0/cluster_id/GetVolumeList`, where `cluster_id` is id of successfully imported gluster cluster with no volume.
I also get `Internal Server Error` message when I call `hostname/api/1.0/cluster_id/GlusterCreateVolume` according to https://github.com/Tendrl/api/

[2017-02-02 09:05] anivargi commented on #68
@fbalak First of all there is no endpoint `/api/1.0/:cluster_id` hence the `404`, its not documented anywhere.

I will debug the GetVolumeList and GlusterCreateVolume and get back to you shortly.

[2017-02-02 09:26] fbalak commented on #68
@anivargi Ok, thank you.

[2017-02-02 10:14] ltrilety opened #70 "cluster name"
It should be possible to put some name for a cluster during an import of the gluster cluster.

API calls returning clusters should also provide those cluster names.

[2017-02-02 16:44] anivargi commented on #68
@fbalak there is a PR for the fixes https://github.com/Tendrl/api/pull/71

The fix also needed some fixes on the integration side, so all the packages will need to have a new build.

CC: @nthomas-redhat @brainfunked

[2017-02-03 10:43] nthomas-redhat commented on #68
@shtripat can you have a look?

[2017-02-03 10:53] shtripat commented on #68
@nthomas-redhat backend integration changes are merged already yesterday and should be available in latest build. API PR needs to be merged and built.

[2017-02-03 13:56] anivargi commented on #68
@nthomas-redhat the PR is merged now, can we have a new build?

[2017-02-03 14:03] anivargi commented on #67
@nthomas-redhat is this a known issue, where after the job it takes sometime for it to reflect in etcd?

[2017-02-03 14:31] fbalak commented on #67
I tried to reproduce this issue and it seems that the problem occurs when there are imported more than 11 clusters. Otherwise it works fine.

[2017-02-03 14:46] nthomas-redhat commented on #68
@anivargi , build is already done. Please check --> https://copr.fedorainfracloud.org/coprs/tendrl/tendrl/builds/

[2017-02-06 08:26] fbalak commented on #68
Still not working. Server returns `500 Internal Server Error`. Tested with:
tendrl-commons-1.2-02_06_2017_04_42_02.noarch
tendrl-node-agent-1.2-02_06_2017_00_01_03.noarch
tendrl-gluster-integration-1.2-02_06_2017_04_38_03.noarch
tendrl-api-1.2-02_05_2017_01_51_02.noarch
I followed https://github.com/Tendrl/api/blob/d3b44bbd8f85f545e112f0fae781fed3b366d3c2/docs/volumes.adoc.

[2017-02-06 10:44] anivargi commented on #68
@fbalak I have made one more fix. https://github.com/Tendrl/api/pull/72

[2017-02-06 13:55] fbalak commented on #68
Now it returns `job_id` instead of `Internal Server Error` but the job will never finish and `flow` is not specified. Tested with:
tendrl-gluster-integration-1.2-02_06_2017_04_38_03.noarch
tendrl-commons-1.2-02_06_2017_04_42_02.noarch
tendrl-node-agent-1.2-02_06_2017_00_01_03.noarch
tendrl-api-1.2-02_06_2017_16_15_15.noarch
`POST` api request: `hostname:9292/1.0/9717f84f-375a-45c9-91f4-5fdc06b6c6e

[2017-02-06 14:13] nthomas-redhat commented on #68
@fbalak , have you created the brick directories on all the hosts? I am sure you did, but just wanted to make sure. Also can you share your setup details(on PM) so that we can take a look?

[2017-02-06 14:22] fbalak commented on #68
@nthomas-redhat yes, directories are created. I will send you PM.

[2017-02-06 14:33] shtripat commented on #68
One thing I can see in job data the field 'flow' is 'null'.

On 6 Feb 2017 19:25, "Filip Balák" <notifications@github.com> wrote:

Now it returns job_id instead of Internal Server Error but the job will
never finish and flow is not specified. Tested with:
tendrl-gluster-integration-1.2-02_06_2017_04_38_03.noarch
tendrl-commons-1.2-02_06_2017_04_42_02.noarch
tendrl-node-agent-1.2-02_06_2017_00_01_0

[2017-02-06 15:38] shtripat commented on #68
@anivargi the job submitted to job queue should have `run` attribute set to be picked and executed. The below job provided by @fbalak doesnt have the same attribute

[code]

Please check https://github.com/Tendrl/commons/blob/develop/tendrl/commons/jobs/__init__.py#L41 for more details.

Sample job for creating a volume looks as below

[code]

[2017-02-06 16:26] shtripat commented on #68
Sent a PR to fix a name error in atom https://github.com/Tendrl/gluster-integration/pull/138. It was missed in last merge somehow.

[2017-02-07 04:05] nthomas-redhat commented on #67
@fbalak , I am not going to worry about this because you see the cluster in etcd after a 'second'. The import API doesn't add the cluster into etcd rather it installs the required packages, generate the config files and then starts up the integration process. The integration process then pushes the details to etcd. So you might be seeing this one second delay just because of slow network connectio

[2017-02-07 05:42] shtripat commented on #68
Fix available now as part of build `tendrl-gluster-integration-1.2-02_07_2017_10_31_13.noarch.rpm`

[2017-02-07 08:38] fbalak commented on #68
Fixed. Tested with:
tendrl-gluster-integration-1.2-02_07_2017_10_31_13.noarch
tendrl-commons-1.2-02_07_2017_04_42_04.noarch
tendrl-node-agent-1.2-02_07_2017_00_01_03.noarch
tendrl-api-1.2-02_07_2017_10_53_13.noarch

[2017-02-07 08:38] #68 closed

[2017-02-07 09:10] mkudlej commented on #67
@nthomas-redhat I think that this bug is valid. Until cluster is not in GetClusterList output, import job should be marked as not finished. I think this is important for API usability. I expect that every integration with another project via API will be like this:
1) run import cluster API function
2) wait for import cluster job finish
3) do anything with imported cluster including list of cluster

[2017-02-07 17:46] fbalak opened #77 "Flows api call is not compatible with a documentation"
Documentation located in https://github.com/Tendrl/api/tree/034250db52ec28430acdc7b87073dbbfe79863de/docs is not compatible with api call: `hostname/api/1.0/Flows`. In response are listed api calls with wrong parameters and incorrectly set `required` attribute. There are also not listed some api calls: `hostname/api/1.0/GetClusterList`, `hostname/api/1.0/jobs`, `hostname/api/1.0/GetNodeList`.

[2017-02-08 09:49] fbalak opened #78 "Deleting gluster volume via api doesn't change records in etcd"
When `DELETE` `hostname/api/1.0/cluster_id/GlusterDeleteVolume` request with appropriate data [1] is sent there is no change in records that can be obtained via `GetVolumeList` api call but gluster volume on nodes is deleted. Record with deleted volume should be deleted from etcd.
Job with `job_id` obtained from `GlusterDeleteVolume` api call is also never finished. Status of job is still `process

[2017-02-08 09:55] fbalak opened #79 "GetNodeList api call contains clusters attribute"
When `GET` `hostname/api/1.0/GetNodeList` request is sent there are correctly listed nodes under a `nodes` attribute but there is also an empty `clusters` attribute at the end of the response. There should be only listed nodes.
Tested with:
tendrl-api-1.2-02_08_2017_01_51_04.noarch
tendrl-gluster-integration-1.2-02_08_2017_04_38_03.noarch
tendrl-commons-1.2-02_08_2017_04_42_04.noarch
tendrl-node-a

[2017-02-08 15:04] ltrilety opened #80 "GetNodeList called on a cluster"
`<hostname>/api/1.0/<cluster_id>/GetNodeList` API get call return status is `200 OK` however it returns always empty list.

Sample Request
[code]

Sample Response
[code]

Seen on:
tendrl-api-1.2-02_08_2017_01_51_04.noarch
tendrl-api-httpd-1.2-02_08_2017_01_51_04.noarch

[2017-02-09 09:20] fbalak opened #81 "Format of URLs of API calls are not unified"
URLs of all API calls except `hostname/api/1.0/jobs`, `hostname/api/1.0/ping` and `hostname/api/1.0/monitoring/*` start with Uppercase. These three start with Lowercase. URLs of API calls should be unified (all start with Uppercase) or case insensitive.

[2017-02-09 10:02] fbalak commented on #79
`clusters` attribute contains clusters that can be imported. This probably isn't issue --> closing.

[2017-02-09 10:02] #79 closed

[2017-02-09 15:27] nthomas-redhat commented on #67
@nnDarshan , Can you have a look at this.
Myself and @r0h4n had a discussion;  in the generic import flow wait till the data is imported before marking the job status as 'done'.

[2017-02-14 10:18] nnDarshan commented on #67
@nthomas-redhat Have sent a fix to node agent: https://github.com/Tendrl/node-agent/pull/210

[2017-02-16 09:25] fbalak opened #82 "GetNodeList API call doesn't work"
Api server returns `500 Internal Server Error` message when I call `hostname/api/1.0/GetNodeList`. This API call should be fixed.
Tested with `tendrl-api-1.2-02_16_2017_01_51_02.noarch`.

[2017-02-16 09:31] ltrilety commented on #82
There's no workaround cause import cluster API call could be started but it never ends. The job remains in the state 'new'.

[2017-02-17 07:18] sankarshanmukhopadhyay commented on #82
@anivargi - I am not sure if this is in your ball-park. Perhaps you can take a look and assign correctly.

[2017-02-17 07:32] sankarshanmukhopadhyay commented on #66
@TimothyAsir if this is sorted, please close the issue.

[2017-02-20 09:30] r0h4n commented on #67
@fbalak could you please verify if this is still a valid bug? You can use the latest copr builds

[2017-02-20 12:07] fbalak commented on #82
tendrl-api log:
[code]

[2017-02-20 12:08] fbalak commented on #82
tendrl-node-agent log:
[code]

[2017-02-20 14:09] anivargi commented on #82
@fbalak the API error essentially means the node definitions does not exist or is corrupted in Etcd.
CC: @r0h4n

[2017-02-20 17:20] sankarshanmukhopadhyay commented on #82
@r0h4n is this fix planned to be available in the latest build?

[2017-02-21 14:04] r0h4n commented on #78
Fixed: https://github.com/Tendrl/gluster-integration/commit/b319c4ffc0251a24389d757c5298da252d725cb3

Please try to reproduce

[2017-02-22 08:40] fbalak commented on #78
As of now the issue cannot be reproduced, it's blocked by https://github.com/Tendrl/api/issues/82

[2017-02-22 13:12] anivargi commented on #82
@fbalak Can you check in etcd if the following key is present
`/_tendrl/definitions/master` and the value is a valid YAML.
The reason for the API to throw the error is if the definition file is missing or the YAML is corrupted.

[2017-02-22 14:14] fbalak commented on #82
@anivargi This is server response I have from etcd api:
[code]

[2017-02-22 14:55] r0h4n commented on #82
@anivargi @fbalak I copied the "value" of the above server response at http://www.yamllint.com/ and the yaml seems valid. I suggest

- @anivargi to debug this further from an API point of view and provide steps to @fbalak
- In mean time can @fbalak try to reproduce on a fresh Tendrl environment?

[2017-02-23 06:46] anivargi commented on #82
@fbalak I would recommend you take the latest build of tendrl-api to test it out.

[2017-02-23 08:21] fbalak commented on #82
@anivargi I installed Tendrl from latest packages but I can not test it because I am unable to start node-agent on storage nodes and without it API doesn't work. Updated https://github.com/Tendrl/node-agent/issues/224.

[2017-02-23 12:24] fbalak commented on #82
@anivargi Tested with tendrl-api-1.2-02_23_2017_01_51_02.noarch. The problem remains.

[2017-02-23 13:20] sankarshanmukhopadhyay commented on #82
Alright. We've gone back and forth over this issue a number of times. @fbalak @anivargi what would be the next step from here? Do we have a fresh install with the latest builds to check this? Not a package refresh environment, but a fresh start?

[2017-02-23 13:24] sankarshanmukhopadhyay commented on #33
Have we addressed this topic in any of the recent builds? This may not be a test blocker but the failure condition needs to be handled.

[2017-02-23 14:43] anivargi commented on #82
@fbalak I looked at the instance you provided, I found that Etcd has the monitoring configuration, but the monitoring-api is not setup properly which causes the API to respond with a 500 error. I would recommend that we setup the monitoring-api properly and try again.
CC: @sankarshanmukhopadhyay @r0h4n

[2017-02-23 14:45] sankarshanmukhopadhyay commented on #82
Great! We'll wait for updates once the setup is in place and tested.

[2017-02-23 15:16] r0h4n commented on #33
We have added detailed job statuses after Dec 5

@fbalak can you reproduce this bug using latest builds?

[2017-02-23 15:20] mkudlej commented on #82
@anivargi If this is true, please think about providing proper error message in cases like this. What do you think?

[2017-02-23 16:41] ltrilety commented on #82
I don't much get it. I mean when performance monitoring is not running, we are not able to import any cluster. Hence GUI is not working at all and most API calls could not be used too. Is such functionality really wanted?

[2017-02-23 16:57] sankarshanmukhopadhyay commented on #82
I would think that 'performance monitoring' is a bit of a word overload. The capability that is required to be in place is to monitor the basic health of an imported cluster asset. Having said that, you raise a point we (-dev) need to huddle on and arrive at a conclusion on how to handle this.

[2017-02-23 17:25] anivargi commented on #82
@fbalak @ltrilety @mkudlej I have handled the exception for when the service is configured and unreachable in the PR https://github.com/Tendrl/api/pull/84

This should be fixed the upcoming build.

[2017-02-24 00:44] sankarshanmukhopadhyay commented on #82
@anivargi thanks. for completeness, once the build is available, please add the N-V-R here to help confirm package to use for verification.

[2017-02-24 00:56] sankarshanmukhopadhyay commented on #44
Is this and the referenced issue fixed?

[2017-02-24 02:02] sankarshanmukhopadhyay opened #85 "Cluster name is not present in Cluster list response"
vide. https://github.com/Tendrl/dashboard/issues/128

[2017-02-24 10:32] ltrilety opened #86 "GetNodeList API call returns empty cluster array"
`GetNodeList` API call returns all nodes as it should but also it returns empty cluster array even when there exists some not imported cluster. Because of that tendrl frontend says: `'No Cluster Detected for Import.'`.

Packages version:
tendrl-api-doc-1.2-02_24_2017_01_51_03.noarch
tendrl-api-1.2-02_24_2017_01_51_03.noarch
tendrl-api-httpd-1.2-02_24_2017_01_51_03.noarch
tendrl-dashboard-1.2-02_23

[2017-02-24 10:39] ltrilety commented on #86
example of API response:
[code]

[2017-02-24 10:50] ltrilety commented on #86
Part of tendrl-node-agent log:
[code]

[2017-02-24 10:52] ltrilety commented on #86
tendrl-apid log:
[code]

[2017-02-24 11:03] ltrilety commented on #82
After correcting tendrl-gluster-integration configuration `GetNodeList` works somehow. There's a problem though, for that a new issue https://github.com/Tendrl/api/issues/86 was created.

[2017-02-24 11:09] fbalak commented on #82
`GetNodeList` works. --> closing

[2017-02-24 11:09] #82 closed

[2017-02-24 12:15] fbalak commented on #33
@r0h4n When I call API request with invalid data then job won't finish and status remains `new` or `processing`. For example calling `CreateVolume` without specified `Volume.bricks` keeps job in `processing` status but it should be failed.
Tested with `tendrl-api-1.2-02_24_2017_01_51_03.noarch`.

[2017-02-24 15:01] ltrilety opened #87 "GetNodeList returns bad monitoring information"
GetNodeList returns bad monitoring information. Sometimes as cpu_usage, storage_usage, ... returns empty string, in other cases some strange string, probably some id.
e.g. "percent_used": "bff1f79e-ea7e-4b28-8c79-7680767ed493"

Used packages:
tendrl-api-doc-1.2-02_24_2017_01_51_03.noarch
tendrl-api-1.2-02_24_2017_01_51_03.noarch
tendrl-api-httpd-1.2-02_24_2017_01_51_03.noarch
tendrl-dashboard-1.2-

[2017-02-24 15:03] ltrilety commented on #87
`GetNodeList` response example:
[code]

[2017-02-24 15:15] anivargi commented on #87
@anmolbabu please verify that the data is coming in properly.

[2017-02-24 15:36] anmolbabu commented on #87
The thing about blank string i.e, "" indicates failure to fetch such a data which i feel is a valid thing. I have sent certain PRs with which I don't see the issue, I'll verify it again. And about nan, I'll send a fix

[2017-02-26 19:17] shtripat commented on #33
Sent https://github.com/Tendrl/commons/pull/172 to fix the issue.
This PR marks the job failed is some atom fails execution. Additionally if mandatory parameters are not passed the job is marked as failed.

[2017-02-27 03:01] sankarshanmukhopadhyay commented on #86
@anivargi please confirm whether this is an API topic or, should be assigned to back-end

[2017-02-27 09:30] #66 closed

[2017-02-27 14:08] #62 closed

[2017-02-27 14:11] #43 closed

[2017-02-27 14:13] sankarshanmukhopadhyay commented on #29
@TimothyAsir @brainfunked - please update accordingly

[2017-02-27 14:15] #25 closed

[2017-02-28 10:58] r0h4n commented on #86
@ltrilety Please provide logs for all tendrl services sorted by nodes in a tar file

[2017-02-28 11:01] r0h4n commented on #67
@fbalak Please verify this one, closing for now

[2017-02-28 11:01] #67 closed

[2017-02-28 12:18] fbalak commented on #67
Seems ok.

Tested with:
tendrl-api-1.2-02_28_2017_01_51_02.noarch
tendrl-commons-1.2-02_28_2017_04_42_02.noarch
tendrl-node-agent-1.2-02_28_2017_00_01_02.noarch
tendrl-performance-monitoring-1.2-02_28_2017_13_18_20.noarch
tendrl-gluster-integration-1.2-02_28_2017_14_48_15.noarch

[2017-03-01 16:04] ltrilety commented on #86
Logs and configuration files from my setup
[tendrl.tar.gz](https://github.com/Tendrl/api/files/811258/tendrl.tar.gz)

[2017-03-01 16:44] fbalak opened #88 "ImportCluster API call with already imported nodes creates empty cluster"
I have imported Gluster cluster in Tendrl with certain nodes. When I call `ImportCluster` API call again with those nodes that are already imported, there is created a new cluster in Tendrl with no hosts. Job related to this action should fail and there shouldn't be imported any cluster (only the original one).

Tested with:
tendrl-api-1.2.1-03_02_2017_01_51_02.noarch
tendrl-node-agent-1.2.1-03_02

[2017-03-02 11:50] fbalak opened #89 "GetClusterList API call without imported cluster returns `404 not found`"
When I call `hostname/api/1.0/GetClusterList` without any imported cluster I get `404 not found` response. This API call works fine when Gluster cluster is imported. API call `hostname/api/1.0/GetClusterList` should return empty json (or at least some response) when there is no imported cluster.
I think that this issue also breaks UI where it displays `Server not found (404) !` on front page and d

[2017-03-02 12:30] anivargi commented on #86
@ltrilety the clusters array returns the available clusters which can be imported, if you have already imported all the detected clusters, it will be empty.

[2017-03-03 04:36] sankarshanmukhopadhyay commented on #86
@anivargi in other words, are you stating that it is designed to be such and behaving as expected?

[2017-03-03 04:40] sankarshanmukhopadhyay commented on #78
Now that https://github.com/Tendrl/api/issues/82 is closed - can we circle back to the topic and validate the fix?

[2017-03-03 04:41] sankarshanmukhopadhyay commented on #33
With https://github.com/Tendrl/commons/pull/172 merged, is it available in a build? @shtripat - can you add the package NVR which contains the fix?

[2017-03-03 08:21] fbalak opened #91 "GlusterCreateVolume API call doesn't work"
When I call `hostname/api/1.0/cluster_id/GlusterCreateVolume` according to https://github.com/Tendrl/api/blob/d3b44bbd8f85f545e112f0fae781fed3b366d3c2/docs/volumes.adoc I get `job_id` in response but the job is never finished. It remains `processing` and there is no volume created. Job should finish and there should be created Gluster volume.

Tested with:
tendrl-api-1.2.1-03_02_2017_01_51_02.noar

[2017-03-03 08:40] anivargi commented on #91
@fbalak please provide details like the payload that was sent to the request.

[2017-03-03 08:56] anivargi commented on #89
@fbalak Fix is on https://github.com/Tendrl/api/pull/92, it has been merged so should be available as a build once the job is triggered.

[2017-03-03 08:56] #89 closed

[2017-03-03 08:57] anivargi commented on #88
@r0h4n @shtripat What is the expected behaviour here?

[2017-03-03 08:57] fbalak commented on #91
@anivargi I posted this json `{"Volume.volname": "Vol_test", "Volume.bricks": ["hostname-node1:/bricks/fs_gluster01/brick", "hostname-node2:/bricks/fs_gluster01/brick", "hostname-node3:/bricks/fs_gluster01/brick", "hostname-node4:/bricks/fs_gluster01/brick"]}`. Cluster was already imported and directories for bricks exist.

[2017-03-03 08:57] anivargi commented on #87
@anmolbabu What is the update here?

[2017-03-03 08:58] anivargi commented on #86
@sankarshanmukhopadhyay yes

[2017-03-03 08:59] anivargi commented on #85
The issue is fixed in the latest build.

[2017-03-03 08:59] #85 closed

[2017-03-03 09:00] anivargi commented on #80
@ltrilety there is no such documented API, where are you referring the API call from?

[2017-03-03 09:01] anivargi commented on #78
@fbalak please comment or close the issue.

[2017-03-03 09:02] anivargi commented on #70
@ltrilety The server returns the name of the cluster, but adding your own name to the cluster could be a feature in the future.

[2017-03-03 09:12] anivargi commented on #61
@zeichenanonym The API never tries to load anything from etcd (keys) when it is started, it only looks for the etcd config.
If you have a proper etcd config and you try `hostname/api/1.0/ping` the API does handle it and returns a `{"errors":{"message":"Not found."}}` with 404 HTTP status.

[2017-03-03 09:15] anivargi commented on #56
@fbalak please close if this is not a issue anymore.

[2017-03-03 09:16] anivargi commented on #48
Fixed and available in latest builds.

[2017-03-03 09:16] #48 closed

[2017-03-03 09:19] anivargi commented on #50
@fbalak I don't understand what the issue is exactly, you only need to care about the clusters present in the clusters list.
Currently when a job fails it is marked as failed. @r0h4n can you please elaborate.

[2017-03-03 09:49] ltrilety commented on #86
@anivargi that's not the case as I said in my first comment: "it returns empty cluster array even when there exists some not imported cluster".
No cluster was imported-present in tendrl none the less cluster list in the response was empty.

[2017-03-03 09:57] ltrilety commented on #80
@anivargi probably I just thought to be logical to have such API call or I got it from `Flows` API call which was then. Anyway the call exists as it returns `200 OK`. So as I see it, the call should be removed or corrected to work properly.

[2017-03-03 10:03] fbalak commented on #78
@anivargi I think I saw it fixed but I will test it more after https://github.com/Tendrl/api/issues/91 is resolved.

[2017-03-03 10:36] anivargi commented on #80
@ltrilety List calls are never exposed in `Flows`.
Added a PR https://github.com/Tendrl/api/pull/93 to handle case where user requests list for unknown/undocumented object. Will return 404.

[2017-03-03 10:44] anivargi commented on #78
Why is this dependent upon #91 to be fixed?

[2017-03-03 10:46] anivargi commented on #91
@shtripat can you verify why it is stuck on `processing`?

[2017-03-03 12:53] shtripat commented on #91
@fbalak can you share the `/var/log/tendrl/gluster-integration/gluster-integration_info.log`

If there is some error in the log, that might give you clue as well. Also `cluster/{id}/_jobs/{job_id}` would also give some clue what all has happened while running the flow for volume creation.

[2017-03-03 14:16] fbalak commented on #91
@shtripat
`/var/log/tendrl/gluster-integration/gluster-integration_info.log`:
`2017-03-03T13:34:48+0000 - /usr/lib/python2.7/site-packages/tendrl/gluster_integration/sds_sync/__init__.py - __init__.py:235 -                 _run() - ERROR - Raft Internal Error : etcdserver: request timed out`

And this is content of `hostname:2379/v2/keys/clusters/0381837b-3806-4eea-8c05-d54bb773f62a/_jobs/tendrl.g

[2017-03-03 14:24] shtripat commented on #91
Looks like connectivity issue with etcd server. Plz check if etcd server is up and running and details are correct in conf files. I will try to simulate in my own setup as well...

[2017-03-03 14:57] fbalak commented on #91
@shtripat I hope this helps.
On server node:
`# systemctl status etcd`
● etcd.service - Etcd Server
   Loaded: loaded (/usr/lib/systemd/system/etcd.service; enabled; vendor preset: disabled)
   Active: active (running) since Fri 2017-03-03 10:09:50 UTC; 4h 40min ago
 Main PID: 19708 (etcd)
   CGroup: /system.slice/etcd.service
           └─19708 /usr/bin/etcd --name=default --data-dir=/var/lib/etc

[2017-03-03 15:50] shtripat commented on #91
@fbalak I tried locally in my setup using API and it works fine.
Looking at `/etc/tendrl/node-agent/node-agent.conf.yaml` this certainly looks problematic as the value of `etcd_connection` should be IP of the node where etcd server is running.
Correct the same and also check and correct the value in `/etc/tendrl/gluster-integration/gluster-integration.conf.yaml` (if wrong). After this you need to

[2017-03-06 04:00] anmolbabu commented on #87
@anivargi This has been fixed in accordance with https://github.com/Tendrl/api/issues/87#issuecomment-282321622 and the following merged PRs fix it: https://github.com/Tendrl/performance-monitoring/pull/57 , https://github.com/Tendrl/performance-monitoring/pull/56 and https://github.com/Tendrl/performance-monitoring/pull/52

[2017-03-06 04:02] anmolbabu commented on #87
And regarding the collectd collected stats landing in graphite taking some time, the known issue for it is @ https://github.com/Tendrl/performance-monitoring/issues/46

[2017-03-06 05:42] shtripat commented on #33
The build tendrl-commons-1.2.1-2.el7.centos.noarch.rpm contains the fix which was done 5 days back.

[2017-03-07 08:03] sankarshanmukhopadhyay commented on #91
This is listed under https://github.com/Tendrl/usmqe-tests/wiki#blockers @fbalak please update if you have been able to adopt the suggestion from Shubhendu.

[2017-03-08 09:29] fbalak opened #94 "ImportCluster API call doesn't work"
When I call `POST` `hostname/api/1.0/ImportCluster` according to https://github.com/Tendrl/api/blob/c26f4f9b02a148b1b8793ebc14dbd6ba6fae8acd/docs/clusters.adoc I get `job_id` in response but the job is never finished. I sent json: `{"node_ids":["818072dd-d5ec-4df6-8afd-b72887625d72","aee60933-f757-4f0b-9d0f-199073660f54","cf404639-8807-48ea-9b3d-ffc8b7cb4d97","e8b5292d-052a-4ac5-9748-fb16d7125e15"

[2017-03-08 12:01] fbalak opened #95 "Internal Server Error when trying to get log of a job via API"
I get `500 Internal Server Error` when I try to get log of a job from API. I tried to call `hostname/api/1.0/jobs/job_id/logs?type=log_type` (as defined in response of `hostname/api/1.0/jobs/job_id`) and `hostname/api/1.0/jobs/job_id/logs`.

`# journalctl -u tendrl-apid`
[code]

[2017-03-08 12:18] anivargi commented on #94
@fbalak Can you try with `"sds_type":"glusterfs"`

[2017-03-08 12:22] anivargi commented on #86
@ltrilety The issue is that the nodes don't have detected cluster inside of it hence the clusters come up as empty.
@r0h4n @shtripat Please look into it.

[2017-03-08 13:18] fbalak commented on #94
@anivargi I tried it with `"sds_type":"glusterfs"` as you suggested but it still remains in a `new` state.

[2017-03-08 14:10] shtripat commented on #86
Tested with latest `node-agent` master for gluster cluster.It works fine and `DetectedCluster` field is getting populated as below

[code]

For ceph cluster nodes, will update soon.

[2017-03-08 14:31] shtripat commented on #86
For ceph cluster as well it does list the `DetectedCluster` field for nodes as below with latest master `node-agent`

[code]

[2017-03-08 15:00] shtripat commented on #86
@fbalak I tried debugging the QE set as well and all I have done is that re-started `tendrl-node-agent` service on all the storage nodes and I see `DetectedCluster` field listed for all the nodes now.
Also `GetNodeList` api is working and returning details properly (check http://<srvr node>:9292/1.0/GetNodeList).

So effectively looks like the service `tendrl-node-agent` was not re-started post up

[2017-03-09 12:39] fbalak commented on #86
@shtripat Restarting `tendrl-node-agent` service helps but only after all components are installed and gluster trusted pool is created. Restarting `tendrl-node-agent` service right after `tendrl-node-agent` installation doesn't work. Tested with fresh installation:
tendrl-commons-1.2.1-03_09_2017_05_04_44.noarch
tendrl-node-agent-1.2.1-03_09_2017_00_01_05.noarch
tendrl-gluster-integration-1.2.1-03

[2017-03-09 13:31] shtripat commented on #86
@fbalak so in the case there are no storage bits on the nodes (niether ceph nor gluster) certainly detected cluster details would be empty.
The `DetectedCluster` field is useful for import cluster flow where we know that at least ceph or gluster bits are installed on the nodes and in that case `DetectedCluster` should be present for node details.

@anivargi now if API alway depends on `DetectedClu

[2017-03-09 13:53] fbalak commented on #86
@shtripat Yes, I just meant that I restarted `tendrl-node-agent` right after installation of node-agent and checked `GetNodeList` after trusted pool was created and it returned no importable cluster. I had to restart it again after installation of all components to make it work so maybe some of those components breaks it.

[2017-03-10 20:30] fultonj opened #97 "How should we get Tendrl API Auth Keys for TripleO Integration?"
During the Tendrl / TripleO DFG:Ceph hackathon we had to workaround not having auth keys by getting them directly from Mrugesh and then having TripleO send them to the API. Do we want to repeat this pattern? If so then one way to do it is:

1. Have Tendrl's GUI have a way to generate an auth key for external tool integration (e.g. TripleO)
2. Have TripleO's Tendrl integration Heat template require

[2017-03-13 05:44] shtripat commented on #88
If cluster with same name already exists in tendrl central store, certainly the flow should error out. I feel there should a pre check added to import cluster flow.

[2017-03-13 06:09] sankarshanmukhopadhyay commented on #94
@anivargi - this would need to be addressed - it is blocking testing of the build

[2017-03-14 05:42] anivargi commented on #94
@shtripat Can you please debug this? Thanks.

[2017-03-14 05:54] anivargi commented on #95
@fbalak we will be adapting a new system for logging, so this is irrelevant at this point of time.

[2017-03-14 05:55] shtripat commented on #94
@anivargi I would start on this today.
@TimothyAsirJeyasing I remember we had discussed about a dedicated setup which always gets updated post builds and anybody from team can verify the latest builds for any failures and required fixes. I don't see any such thing till now. Why I am asking this, because every time such issues happen I need to destroy my own dev setup and do a fresh one for verific

[2017-03-14 06:24] anivargi commented on #80
@ltrilety can you verify and close this?

[2017-03-14 06:25] anivargi commented on #78
@fbalak can you verify and close.

[2017-03-14 07:25] ltrilety commented on #80
@anivargi sorry I can't at least for now, I am blocked by https://github.com/Tendrl/api/issues/94

[2017-03-14 08:28] shtripat commented on #94
@fbalak After debugging a bit I find that its a regression where few patches partially got merged in master and that why this flow is broken. Proper fixes are available in develop branch.

To make testing continue, I would suggest you to use older builds from copr (may a week older rpms, 7th march 2017).

In the mean time I would suggest @GowthamShanmugam to revert back the changes in master and m

[2017-03-14 08:39] fbalak commented on #78
@anivargi I will test this and probably close it after https://github.com/Tendrl/api/issues/94 will be resolved.

[2017-03-14 13:37] r0h4n opened #98 "Branching model needs improvement"
Please follow below branching model for better categorization of code which will allow devs to push code in parallel without regressions:

http://nvie.com/posts/a-successful-git-branching-model/

Check how its done on the node-agent or the commons/ceph/gluster-integration repositories

[2017-03-15 11:03] r0h4n commented on #94
@fbalak Can you verify this bug again based on latest packages from master?

[2017-03-15 13:22] fbalak opened #99 "API doesn't work"
When I call any API call like `hostname/api/1.0/Flows` or `hostname/api/1.0/GetNodeList` server responds with `404 Not Found`. Services `tendrl-apid`, `etcd` on server and `tendrl-node-agent` on gluster nodes are running.

Tested with:
tendrl-commons-1.2.1-03_15_2017_15_21_27.noarch
tendrl-node-agent-1.2.1-03_15_2017_16_06_16.noarch
tendrl-node-monitoring-1.2.1-03_15_2017_00_37_04.noarch
tendrl-gl

[2017-03-15 13:32] mkudlej commented on #94
This is blocked by https://github.com/Tendrl/api/issues/99

[2017-03-15 14:02] nthomas-redhat commented on #99
@fbalak What is `server_ip`  in /etc/tendrl/etcd.yml ?

[2017-03-15 14:11] shtripat commented on #99
@fbalak earlier also I had mentioned that proper ip for the node should be mentioned in node-agent conf file to refer cortect etcd. Also here in etcd.yml you should mention proper ip for ETCD_LISTEN_CLIENT_URLS and
ETCD_ADVERTISE_CLIENT_URLS

[2017-03-15 14:12] fbalak commented on #99
@nthomas-redhat it is a ipv4 of machine where is installed api and etcd.

[2017-03-15 14:24] shtripat commented on #99
Ideally you should not use 'localhost' in url in etcd.conf file. Also why the value for 'etcd_connection' set as 'hostname'

correct these and it should work..

[2017-03-15 14:31] anivargi commented on #99
@shtripat @nthomas-redhat I think those (server_ip & hostname) are just place holders for hiding the actual ip address.

[2017-03-15 14:32] anivargi commented on #99
@shtripat the error could be due to Tendrl node definitions file not found properly in etcd.

[2017-03-15 14:32] fbalak commented on #99
@shtripat @anivargi True, they are just place holders and lines where are used localhost are marked as comments.

[2017-03-15 14:34] shtripat commented on #99
@anivargi that's correct but my point is why they are not changed with correct values in conf files and how it would work with these place holders

[2017-03-15 14:41] anivargi commented on #99
@fbalak since the configuration of etcd.conf is not correct, the definitions file is not loaded in etcd, hence the API throws a error.

The etcd.conf file expects a IP address (10.) instead of localhost that you have used.

Fixing the conf file and restarting the services should fix this issue.

[2017-03-15 14:59] fbalak commented on #99
@anivargi In my etcd.conf are set urls generated by ansible when I install those machines. Now I tried change these to proper ipv4 addresses, restarted services but it still doesn't work. I am not using localhost anywhere. It used to work with our playbooks with previous builds. Maybe this issue should be moved to node-agent.

[2017-03-15 15:06] anivargi commented on #99
@shtripat @nthomas-redhat please take a look and suggest.

[2017-03-15 15:55] shtripat commented on #99
@anivargi @nthomas-redhat I have checked setup shared by @fbalak and I see all the details being shown properly in `etcd` but api still shows "Not Found".

@anivargi I checked `/etc/tendrl/etcd.yml` and adresses are properl. Tried re-start of `tendrl-apid` and `htpd` services with no help. Is there some caching or something which needs to be cleared.

[2017-03-15 16:20] shtripat commented on #99
@anivargi I tried re-installation of `etcd`, `tendrl-api` and `tendrl-api-httpd`. Re-statred `etcd`, `tendrp-apid` and `httpd` services, but no success. Tried urls `http://{node}:9292/1.0/GetNodeList` and `http://{node}/api/1.0/GetNodeList`. Both say "Not Found". The field `DetectedCluster` is present for all the nodes in etcd.

[2017-03-15 16:40] anivargi commented on #99
@shtripat I am debugging this.

[2017-03-15 16:45] anivargi commented on #99
@shtripat seems like /_tendrl/definitions/master is not existing in etcd.

[2017-03-15 16:49] anivargi commented on #99
@r0h4n is there any change in the node definitions path in the new changes that have been made? The API looks at /_tendrl/definitions/master for loading the YAML definitions and its not existing which is causing the issue.

[2017-03-15 18:03] r0h4n commented on #99
@anivargi that is a wrong path for definitions, I believe @brainfunked had corrected the path where api finds its definitions during the Brno create cluster ospd hackathon, anyways below are the paths

under node context: "_NS/node_agent/compiled_definitions/data"
under cluster context: "clusters/$cluster_id/_NS/definitions/data"

@anmolbabu please ensure your namespaces have definitions at "_NS/{

[2017-03-15 19:46] r0h4n opened #100 "Merge develop onto master"
@brainfunked , during the Brno OSPD hackathon we were developing on the develop branch of the API, would it be required to merge develop onto master to get all those changes?

[2017-03-16 07:08] anivargi commented on #99
@r0h4n develop branch of API does not have changes for paths. The create-cluster branch which is not merged and is under review has some path changes under to `/node_agent/compiled_definitions/data`, but from the instance deployed by QE the definitions are under `_tendrl/node_agent/definitions/data` which is completely different, so please let me know what the final path is.

[2017-03-16 10:27] r0h4n commented on #99
Paths mentioned here https://github.com/Tendrl/api/issues/99#issuecomment-286829217 are final

[2017-03-16 10:37] anivargi commented on #99
@r0h4n I will make the needed change.

[2017-03-17 07:17] anivargi commented on #99
The API needs fixing based on the changes that happened in the backend, and also the packaging for the develop branch of API is ongoing.
I would recommend trying a older version of the services to continue testing.

[2017-03-17 07:43] mkudlej commented on #99
@anivargi Which version do you recommend for testing? We use packages from master branch which should be stable.

[2017-03-17 07:46] anivargi commented on #99
@shtripat can you recommend a version of the backend that can be used?

[2017-03-17 07:51] ltrilety commented on #99
@anivargi that's a good question which version should we use? Please don't forget that in previous version there was another blocker https://github.com/Tendrl/api/issues/94

[2017-03-17 10:35] shtripat commented on #99
@anivargi @ltrilety two days back `develop` branch I had rebased and thing are working fine in dev setup.
You may give a try with rpm from `develop` branch which are 2 days older may be.

[2017-03-17 15:16] japplewhite commented on #99
@anivargi when do you anticipate the API packaging will be completed/working?

[2017-03-19 19:05] anivargi commented on #99
Definitions file path changes PR: https://github.com/Tendrl/api/pull/104
Packaging PR: https://github.com/Tendrl/api/pull/101
@japplewhite We are ready to test it out on Monday, so we should probably have a release by Tuesday.
@sankarshanmukhopadhyay @fbalak @shtripat

[2017-03-20 08:40] mkudlej opened #105 "logout should use GET"
Please look at my review comment https://github.com/Tendrl/api/pull/103#discussion_r106847307

[2017-03-20 08:41] anivargi commented on #105
Please look at my response https://github.com/Tendrl/api/pull/103#discussion_r106850527

[2017-03-20 17:04] mkudlej opened #106 "send password in API function for new user just once"
Please look at https://github.com/Tendrl/api/pull/103/files#r106957463

[2017-03-21 11:19] r0h4n commented on #98
Is this done?

[2017-03-21 17:48] anivargi commented on #100
Done.

[2017-03-21 17:48] #100 closed

[2017-03-21 17:50] anivargi commented on #99
@fbalak I have merged the develop branch to master now, can you try with the latest builds of all components.

CC: @japplewhite @sankarshanmukhopadhyay @shtripat

[2017-03-22 08:52] fbalak commented on #99
Currently all API requests return `503 Service Unavailable`. This might be related to https://github.com/Tendrl/performance-monitoring/issues/72.

Tested with:
tendrl-api-1.2.1-03_22_2017_01_51_03.noarch
tendrl-performance-monitoring-1.2.1-03_22_2017_03_02_04.noarch
tendrl-commons-1.2.1-03_22_2017_05_03_38.noarch

[2017-03-22 09:32] mkudlej opened #108 "cannot start API service"
It seems to me that APi requires at least one user in etcd. Is there any documentation how to do this without running API? Also we should consider that ordinary user will not touch directly Etcd content.

[code]

[2017-03-22 09:34] mkudlej commented on #99
I think this issue cannot be tested until https://github.com/Tendrl/api/issues/108 is solved. Previous Filip's comment is related to issue https://github.com/Tendrl/api/issues/108

[2017-03-22 09:42] anivargi commented on #108
@mkudlej This error is not related to default user being present, it is to do with a RPM dependency not being required. The fixes is at https://github.com/Tendrl/api/pull/109

For generating a default user, there is documentation present at the following location.
https://github.com/Tendrl/api/blob/master/docs/users.adoc#create-admin-user

[2017-03-22 09:56] mkudlej commented on #108
All new required packages are installed:
[code]
I've tried to load default user to etcd:
[code]
How could I fix this, please?

[2017-03-22 10:12] anivargi commented on #108
@mkudlej Looks like the package does not have the Rakefile in it which is required for running the task, let me ask @TimothyAsir to add it to the packaging.

[2017-03-22 11:42] anivargi commented on #108
@mkudlej you can try with the latest build. Also updated the doc to generate the default admin https://github.com/Tendrl/api/blob/master/docs/users.adoc#create-admin-user

[2017-03-22 12:25] fbalak commented on #99
Now all API calls return `401 Unauthorized` response.
CC: @anivargi @mkudlej

Tested with:
tendrl-api-1.2.1-03_22_2017_17_03_14.noarch
tendrl-performance-monitoring-1.2.1-03_22_2017_16_43_46.noarch
tendrl-commons-1.2.1-03_22_2017_16_50_15.noarch

[2017-03-22 12:35] anupnivargi commented on #99
@fbalak https://github.com/Tendrl/api/blob/master/docs/authentication.adoc

[2017-03-22 12:36] anivargi commented on #99
@fbalak https://github.com/Tendrl/api/blob/master/docs/authentication.adoc

[2017-03-22 13:20] fbalak commented on #99
@anivargi after authentication api works. --> closing

Tested with:
tendrl-api-1.2.1-03_22_2017_17_03_14.noarch
tendrl-performance-monitoring-1.2.1-03_22_2017_16_43_46.noarch
tendrl-commons-1.2.1-03_22_2017_16_50_15.noarch

[2017-03-22 13:20] #99 closed

[2017-03-22 13:51] mkudlej commented on #108
It works with
[code]
--> Close

[2017-03-22 13:51] #108 closed

[2017-03-22 14:14] mkudlej opened #112 "api should return empty list if directory is not in etcd"
If there is no job, cluster, node or different entity there is no directory in Etcd.  In this case API returns:
[code]
i think that it should return empty list:
[code]

[2017-03-22 14:45] anivargi commented on #112
The issue will be handled as part of https://github.com/Tendrl/api/pull/107 which is WIP

[2017-03-22 14:52] anivargi commented on #98
Develop was merged into master, we will follow the convention in the upcoming commits.

[2017-03-22 14:52] #98 closed

[2017-03-23 08:34] sankarshanmukhopadhyay commented on #94
The issue which this is blocked by is closed - can this now be verified?

[2017-03-23 08:35] sankarshanmukhopadhyay commented on #91
Have we made progress on this? The chain of blockers around the topic seem to have been resolved.

[2017-03-23 08:36] sankarshanmukhopadhyay commented on #33
I am closing this issue. We can revisit it if required.

[2017-03-23 08:37] sankarshanmukhopadhyay commented on #78
#94 was blocked by #99 which is now resolved - can we get around to verifying this?

[2017-03-23 08:48] mbukatov commented on #33
@fbalak Do you agree that this has been fixed?

[2017-03-23 12:58] ltrilety opened #113 "GetNodeList API call is not working"
GetNodeList call returns `500 Internal Server Error`

[code]

Used Packages:
tendrl-api-1.2.1-03_22_2017_17_03_14.noarch
tendrl-dashboard-1.2.1-03_23_2017_04_29_50.noarch
tendrl-commons-1.2.1-03_23_2017_12_30_14.noarch
tendrl-api-doc-1.2.1-03_22_2017_17_03_14.noarch
tendrl-performance-monitoring-1.2.1-03_22_2017_16_43_46.noarch
tendrl-api-httpd-1.2.1-03_22_2017_17_03_14.noarch

[2017-03-23 13:02] ltrilety opened #114 "Flows API call returns empty array"
Flows should return list of possible API calls with parameters, it returns empty list instead.

[code]

Used Packages:
tendrl-api-1.2.1-03_22_2017_17_03_14.noarch
tendrl-dashboard-1.2.1-03_23_2017_04_29_50.noarch
tendrl-commons-1.2.1-03_23_2017_12_30_14.noarch
tendrl-api-doc-1.2.1-03_22_2017_17_03_14.noarch
tendrl-performance-monitoring-1.2.1-03_22_2017_16_43_46.noarch
tendrl-api-httpd-1.2.1-03_22

[2017-03-23 13:08] mkudlej commented on #113
Stack trace from api process:
[code]

[2017-03-23 13:48] mkudlej commented on #94
Still no luck:
[code]
It seems to me that it is connected with https://github.com/Tendrl/commons/pull/285#issuecomment-288370228 but this is just my guess.

[2017-03-23 13:52] mkudlej commented on #78
https://github.com/Tendrl/api/issues/94 is not fixed.

[2017-03-23 13:53] mkudlej commented on #33
I'm reopening this issue because we cannot be sure that it works. We cannot import cluster( https://github.com/Tendrl/api/issues/94 ) or create it so we cannot verify this.

[2017-03-23 14:12] mkudlej commented on #91
Cannot test this because of https://github.com/Tendrl/api/issues/94

[2017-03-23 15:38] anivargi commented on #114
The definitions files are changed and hence they return no Flows.

[2017-03-23 15:47] anivargi commented on #113
The monitoring configuration has completely changed and hence the API cannot read the settings required to fetch the monitoring data.
@anmolbabu can explain more about the changes and how we can integrate it make it working with the API again.

Meanwhile I am going to comment out the stats which load from the monitoring API for us to proceed forward.

[2017-03-23 15:53] anmolbabu commented on #113
The change is in the path where the config is loaded in etcd(_NS/node_monitoring/config) and as per https://github.com/Tendrl/performance-monitoring/pull/71#discussion_r106850436 I am not sure how api missed this communication as this change is going to happen across all modules.
I think @r0h4n can add more....

[2017-03-23 15:59] anmolbabu commented on #113
Moreover these changes are being tested and fixed The change is as recent as day before yesterday in performance-monitoring(https://github.com/Tendrl/performance-monitoring/pull/71) and alerting(https://github.com/Tendrl/alerting/pull/41) and fixes in some areas are in progress..

[2017-03-24 04:49] anivargi commented on #113
@anmolbabu The path changes were made, but the structure of what is returned from the path is what is creating the problem.

[2017-03-24 05:23] anmolbabu commented on #113
<class 'etcd.EtcdResult'>({'newKey': False, 'raft_index': 1740832, '_children': [{u'createdIndex': 345605, u'modifiedIndex': 345605, u'value': u"['tendrl/performance-monitoring']", u'key': u'/_NS/performance_monitoring/config/data/tags'}, {u'createdIndex': 345606, u'modifiedIndex': 345606, u'value': u'xx.xx.xx.xx', u'key': u'/_NS/performance_monitoring/config/data/time_series_db_server'}, {u'creat

[2017-03-24 10:10] anivargi commented on #113
The @Tendrl/tendrl-core team is working on some more changes to the definitions files, due to which the API is affected and will be unstable.

Once the definitions are stable and finalized the API can change things accordingly.

[2017-03-24 13:12] mkudlej commented on #108
This is solved with:
[code]

[2017-03-27 10:56] mkudlej opened #115 "API daemon should run under non root unser"
I think that Tendrl API daemon should run under non root user because API communicates only with clients and ETCD via HTTP API.

[2017-03-28 19:03] japplewhite opened #117 "Admin user create process does not allow specifying a password."
In order to ease the setup and configuration process the rake etcd process should allow the end user to specify a password. The current passwords do not have sufficient complexity of length and or character types so we need a way to drive this input from the user side rather than forcing the user to accept a random password.

[2017-03-29 08:15] mkudlej commented on #117
@japplewhite  You can change password after installation to more secure. Also there can be implementation for testing password strength.

[2017-03-29 13:56] mbukatov opened #118 "[security] Tendrl API would logout wrong user session or prevent sesstion to logout caused by shared global access token handling"
## Description

When single Tendrl user opens multiple sessions to Tendrl API server, one session could either be logged out by another session or another session could prevent the 1st session to log out properly.

This severely breaks user expectations about the core functionality of how login works.

Note: it seems almost impossible to avoid hitting this issue in real world deployments because T

[2017-03-29 14:07] mbukatov commented on #118
For reference, there are my reproducer script, which assumes that:

* `USM_SERVER` variable contains correct full url for Tendrl API
* admin user password is `admin123` :-)
* tendrl api server is up and running

[code]

[2017-03-29 14:45] mbukatov opened #119 "[security] Tendrl API stores bearer token [sic] in etcd in plain text"
Tendrl API documentation seems to suggest that *bearer token* is used during auth. process, see:

source: [docs/authentication.adoc](https://github.com/Tendrl/api/blob/c9c99e8/docs/authentication.adoc)

That said, the token is just stored in plain text on the server side, and I'm not sure if that is a expected implementation choice for something referred to as *bearer token*, because this term is

[2017-03-29 14:45] mbukatov commented on #119
@mkudlej what do you think about this?

[2017-03-29 14:51] mkudlej commented on #119
I agree it should be clear if API implements OAuth 2.0 or not.

[2017-03-29 14:53] mbukatov commented on #119
See few examples how these terms are used and understood:

## Why is 'Bearer' required before the token in 'Authorization' header in a HTTP request?

Source: https://security.stackexchange.com/questions/108662/why-is-bearer-required-before-the-token-in-authorization-header-in-a-http-re

## Google search for 'bearer token'

All results on the first page are all related to OAuth 2.0

[2017-03-30 22:59] cloudbehl opened #123 "Data not present in API as per the UI needs"
Below are the Keys where UI is expecting an Array/List instead of a string.

GetNodeList API
- tags
         Currently: "tags": "[\"ceph/osd\", \"tendrl/node\"]"
         Expected: "tags": ["ceph/osd", "tendrl/node"]\"
- disks
         * All the devices are listed under disks as an object. We can have devices key(Example) inside disks which will be an array of devices
        Currently:
[code]

[2017-03-30 23:17] r0h4n commented on #123
The tendrl backend stores lists as json array, either the API or the UI has to decode the json array

[2017-03-31 05:58] mkudlej commented on #113
Tested with
[code]
and it works -> close

[2017-03-31 05:59] mkudlej commented on #113
@ltrilety Please close.

[2017-03-31 06:21] mkudlej commented on #94
Still there with
[code]
on server and
[code]
on ceph node and
[code]
on gluster node.

[2017-03-31 06:27] mkudlej commented on #33
@fbalak Please open this issue.

[2017-03-31 06:31] r0h4n commented on #113
@mkudlej please provide NVR of tendrl-node-agent as well

[2017-03-31 07:28] anivargi commented on #123
@cloudbehl I am looking into this.

[2017-03-31 08:10] mkudlej commented on #113
@r0h4n
on Ceph nodes:
[code]

[2017-03-31 09:19] sankarshanmukhopadhyay commented on #123
@anivargi it would seem it is from the GetNodeList -

[2017-03-31 09:21] gnehapk commented on #123
@anivargi Yes, its from GetNodeList API.

[2017-03-31 12:27] fbalak commented on #33
@mkudlej I am not authorized to do that.
CC: @sankarshanmukhopadhyay

[2017-03-31 12:28] pmjunior opened #125 "After installed without errors the browser display a message "Server not Found!""
I used the the documentation available at link: https://github.com/Tendrl/documentation/wiki/Tendrl-Package-Installation-Reference and after done I receive the message "Server not Found!" at browser.

I’m forwarding the image of error as an attachment.
![screenshot from 2017-03-31 09-12-52](https://cloud.githubusercontent.com/assets/10977730/24550439/6a0558d6-15f4-11e7-841a-934524f5d947.png)

[2017-03-31 12:33] pmjunior commented on #125
Verifiyng the logs from tendrl-api, I realized that are receiving a HTTP 401 message as below:

● tendrl-apid.service - Tendrl Api Daemon
   Loaded: loaded (/usr/lib/systemd/system/tendrl-apid.service; enabled; vendor preset: disabled)
   Active: active (running) since Thu 2017-03-30 19:59:39 UTC; 8min ago
 Main PID: 20816 (puma)
   CGroup: /system.slice/tendrl-apid.service
           └─20816 puma

[2017-03-31 12:47] r0h4n commented on #125
Hi @pmjunior , please provide some more details
- Did you also finish "Storage Node Installation" (https://github.com/Tendrl/documentation/wiki/Tendrl-Package-Installation-Reference)
- What platform are you running Tendrl on (fedora, rhel, centos?)

[2017-03-31 12:50] pmjunior commented on #125
Hi @r0h4n, yes, I finished "Storage Node Installation" below I post the status of some services:

[root@ceph-admin-tst ~]# systemctl status etcd
● etcd.service - Etcd Server
   Loaded: loaded (/usr/lib/systemd/system/etcd.service; enabled; vendor preset: disabled)
   Active: active (running) since Thu 2017-03-30 18:47:24 UTC; 18h ago
 Main PID: 18084 (etcd)
   CGroup: /system.slice/etcd.service

[2017-03-31 12:52] pmjunior commented on #125
@r0h4n, I1m using CentOS 7.3 (CentOS Linux release 7.3.1611 (Core)) on the Ceph Storage using 5 (five) hosts where have 1 Admin node and 4 OSD nodes.

[2017-03-31 12:55] r0h4n commented on #125
- Is the tendrl-node-agent service configured and running on all nodes (admin + storage).
- If above is true, you should see these nodes at on your  etcd_ip:2379/v2/keys/nodes/$node_id

Can you confirm above?

[2017-03-31 13:06] pmjunior commented on #125
Yes, the tendrl-node-agent is running on the OSD nodes.

Follow the answer of browser with this question about etcd:

{"action":"get","node":{"key":"/nodes/eb435e12-2088-4cfa-a45f-6cca9433d406","dir":true,"nodes":[{"key":"/nodes/eb435e12-2088-4cfa-a45f-6cca9433d406/Networks","dir":true,"modifiedIndex":2321,"createdIndex":2321},{"key":"/nodes/eb435e12-2088-4cfa-a45f-6cca9433d406/Os","dir":true,"mod

[2017-03-31 13:13] r0h4n commented on #125
Thanks, seems like a valid issue, I have assigned it

[2017-03-31 13:14] pmjunior commented on #125
Thank you @r0h4n, I'll appreciate your help.

[2017-04-01 08:22] r0h4n commented on #33
This is fixed in v1.2.2

Please verify again

[2017-04-02 06:14] cloudbehl opened #126 "Require different post request parameters as per the UI selections/options"
I have only this post request(mentioned below), so wanted to ask the other possible scenarios and other possible parameters that UI needs to send.

1). Which parameters will change when 'journal_colocation' is true?
2). Which exact parameters UI needs to send? (Like sds_name, sds_version, fsid etc). I think these parameters will be added to the API. So what are the parameters that API will add and

[2017-04-02 06:18] cloudbehl commented on #126
@anivargi @r0h4n @brainfunked @sankarshanmukhopadhyay please have a look.

[2017-04-02 07:11] gnehapk opened #127 "Message List for specific job is giving Internal Server Error(500)"
Making the following call to get the messages for a job is giving Internal Server Error(500) on 10.70.43.205 setup.

API call - 10.70.41.250:9292/1.0/jobs/c7b98511-4758-4d9e-9ff4-e9e1bc4ee059/messages/

(The Job id can be wrong as the setup(10.70.43.205) is down for now)

@anivargi @brainfunked @nthomas-redhat Please check.

[2017-04-03 03:47] #113 closed

[2017-04-03 03:52] ltrilety commented on #114
Tested on:
tendrl-api-1.2.1-04_03_2017_01_51_03.noarch
tendrl-dashboard-1.2.1-04_03_2017_04_11_02.noarch
tendrl-api-doc-1.2.1-04_03_2017_01_51_03.noarch
tendrl-performance-monitoring-1.2.1-04_03_2017_03_02_04.noarch
tendrl-api-httpd-1.2.1-04_03_2017_01_51_03.noarch
tendrl-commons-1.2.1-04_01_2017_00_59_17.noarch

There are two API calls present in `Flows` response: `CreateCluster` and `ImportClust

[2017-04-03 03:52] #114 closed

[2017-04-03 04:12] ltrilety commented on #87
Currently there's no stats in GetNodeList response at all.

[code]

Checked with:
tendrl-api-1.2.1-04_03_2017_01_51_03.noarch
tendrl-dashboard-1.2.1-04_03_2017_04_11_02.noarch
tendrl-api-doc-1.2.1-04_03_2017_01_51_03.noarch
tendrl-performance-monitoring-1.2.1-04_03_2017_03_02_04.noarch
tendrl-api-httpd-1.2.1-04_03_2017_01_51_03.noarch
tendrl-commons-1.2.1-04_01_2017_00_59_17.noarch
tendrl-commons-

[2017-04-03 04:24] anmolbabu commented on #87
Please verify that the performance-monitoring, graphite are running....

Accordingly, please attach the outputs of ps -aux|grep tendrl

[2017-04-03 04:50] anmolbabu commented on #87
On further investigation, it was found that some of the PRs that got merged recently on develop(https://github.com/Tendrl/performance-monitoring/pull/89, https://github.com/Tendrl/performance-monitoring/pull/90) need to get merged to master and another one https://github.com/Tendrl/performance-monitoring/pull/85(does not cause failures but will not able to log without this...) is underway  @r0h4n

[2017-04-03 06:22] shtripat commented on #126
If `journal_colocation` is set as true, the value of `storage_disks` should be a list of devices and not a list of dicts. An example could be like

[code]

Here we dont need journal mapped disk name so simple list of disks and journal would be located on the same disk. In above example there would 3 OSDs created with their journal partitions on the same disk.

In case of journal colocation UI need

[2017-04-03 07:47] cloudbehl commented on #126
@shtripat thanks for taking out the time to explain. Really Appreciated.

Just on few questions, I need more clarity.

* You said **for /dev/vdb the journal should exist on /dev/vdc**. On which basis journal disks will be decided because I don't see a Ux component mapped to this property. So will it to be decided by the API or the UI?

* Inside every node there is a Network field and that has a li

[2017-04-03 08:43] shtripat commented on #126
I remember in UX design there is a way to say that so and so disk is used as dedicated journal and how many journals can exist on that disk. Once dedicated journals decided on a disk, we can mention which disk's journal would reside on the journal disk. If any confusion check once with Ju as well and using this screen only the dict list of `storage_disks` should be formed

In case of multiple IPv4

[2017-04-03 11:51] fbalak commented on #33
It seems ok. Failed jobs have 'failed' status. --> closing
Tested with:
tendrl-api-1.2.1-04_03_2017_01_51_03.noarch
tendrl-performance-monitoring-1.2.1-04_03_2017_13_14_13.noarch
tendrl-commons-1.2.1-04_01_2017_00_59_17.noarch

[2017-04-03 12:04] fbalak commented on #91
Job failed when I tried to reproduce it. This is content of etcd call:
`{"action":"get","node":{"key":"/queue/bb1dc44d-450e-40bd-a749-ee8e9ce1bddc/errors","value":"Error executing atom: tendrl.objects.Node.atoms.Cmd on flow: Execute given command on given node","modifiedIndex":715,"createdIndex":715}}`
Tested with:
tendrl-api-1.2.1-04_03_2017_01_51_03.noarch
tendrl-performance-monitoring-1.2.1-04_

[2017-04-03 12:24] sankarshanmukhopadhyay commented on #94
Please look at https://github.com/Tendrl/documentation/wiki/Information-required-for-debugging-issues-on-the-Tendrl-stack and help us debug this quicker by providing the information sought. Thanks for the package list in your report.

[2017-04-03 12:49] fbalak commented on #94
ImportCluster for gluster is now working (but `tendrl-gluster-integration` must be pre-installed https://github.com/Tendrl/node-agent/issues/367).
Tested with:
tendrl-api-1.2.1-04_03_2017_01_51_03.noarch
tendrl-commons-1.2.1-04_01_2017_00_59_17.noarch
tendrl-node-agent-1.2.2-04_03_2017_00_01_04.noarch
tendrl-gluster-integration-1.2.1-04_03_2017_04_38_02.noarch

[2017-04-03 13:17] fbalak opened #128 "jobs/job_id/messages returns 500 Internal Server Error for failed jobs"
I receive `500 Internal Server Error` when I want to check out `messages_url` that is listed among attributes of the job accessible through api on `hostname/api/1.0/jobs`. Call `hostname/api/1.0/jobs/job_id/messages` with id of finished job returns valid response.
Tested with:
tendrl-api-1.2.1-04_03_2017_01_51_03.noarch

[2017-04-03 13:52] fbalak opened #129 "cluster_id/Flows api call returns 500 Internal Server Error"
I receive `500 Internal Server Error` when I call GET `hostname/api/1.0/cluster_id/Flows` where `cluster_id` represents `integration_id` of an imported gluster cluster.
Tested with:
tendrl-api-1.2.1-04_03_2017_01_51_03.noarch

[2017-04-04 07:32] r0h4n commented on #35
Closing this one, let me know if needs to be reopened

[2017-04-04 07:32] #35 closed

[2017-04-04 07:41] r0h4n opened #130 "Build rpms in copr for branch "release/$nvr""
Tendrl rpms are built for master and develop branch on copr.

We need Tendrl rpms to be built for release branches too eg: "release/1.2.2"

The rpm nvr should not contain datetime, it should only contain the nvr as given in spec file at branch "release/$version"

[2017-04-04 07:53] r0h4n commented on #37
I dont see any updates to this, the current way of handling configuration files seems to be alright, lets mov on

[2017-04-04 07:53] #37 closed

[2017-04-04 07:58] #47 closed

[2017-04-04 08:06] r0h4n commented on #50
Please confirm if this still exists

[2017-04-04 08:10] r0h4n commented on #86
Is this still reproducible?

[2017-04-04 08:12] r0h4n commented on #88
Is this still reproducible?

[2017-04-04 08:12] fbalak commented on #50
@r0h4n `TendrlContext.integration_id` is still among items in `parameters` attribute of failed jobs but maybe it isn't a problem. @mbukatov @mkudlej What do you think?

[2017-04-04 08:16] r0h4n commented on #50
Irrespective of whether the Create/Import job "finished", TendrlContext.integration_id is created by the API and is required during these flows.

If the above flows "finished", you will see results at /clusters/$TendrlContext.integration_id

else you wont see it, which is expected behaviour

[2017-04-04 08:16] #50 closed

[2017-04-04 08:18] mbukatov commented on #50
As long as the results in `/clusters/$TendrlContext.integration_id` matches the results of the job and there is no `cluster_id` passed for failed cluster import job, it seems ok.

[2017-04-04 08:20] fbalak commented on #88
Importing cluster with already imported nodes fails. --> closing
Tested with:
tendrl-api-1.2.1-04_04_2017_01_51_03.noarch
tendrl-commons-1.2.1-04_01_2017_00_59_17.noarch
tendrl-node-agent-1.2.2-04_04_2017_00_01_04.noarch
tendrl-gluster-integration-1.2.1-04_04_2017_04_38_03.noarch

[2017-04-04 08:20] #88 closed

[2017-04-04 10:17] fbalak commented on #86
@ltrilety you can close this. Seems ok.
Tested with:
tendrl-api-1.2.1-04_04_2017_01_51_03.noarch
tendrl-commons-1.2.1-04_01_2017_00_59_17.noarch
tendrl-node-agent-1.2.2-04_04_2017_00_01_04.noarch
tendrl-gluster-integration-1.2.1-04_04_2017_04_38_03.noarch

[2017-04-04 10:41] ltrilety commented on #86
@fbalak ok, thanks for testing that

[2017-04-04 10:41] #86 closed

[2017-04-04 12:56] anivargi commented on #94
@fbalak you need to use tendrl-api-1.2.2

[2017-04-04 12:57] anivargi commented on #94
Also can you share your curl command for both?

[2017-04-04 13:54] fbalak commented on #94
@anivargi sure, I will test it after tendrl-api-1.2.2 packages will be available in master repo.

for gluster:
curl -XPOST -H "Content-Type: application/json" -H 'Authorization: Bearer c30b2958b68c90aeb350b44e96975cce26b11a4ccdaedf421a4cf19b35ec3989' -d '{ "node_ids": ["c6d91db2-d524-4d8b-a81f-dff0b5d337ca", "c3dbde48-1fd2-406c-877d-32ed21887162", "526758ba-ced3-4390-bb0d-b38ecc9ea449", "cfff3b58-

[2017-04-05 07:38] ltrilety commented on #87
Some information is missing in `GetNodeList` API call response e.g. complete storage information for `ltrilety-usm1-gl2.usmqe.lab.eng.brq.redhat.com` or even more strange `percent_used` for `memory_usage` on `ltrilety-usm1-gl3.usmqe.lab.eng.brq.redhat.com` ...
[code]

Whilst `http://<tendrl_server>:5000/monitoring/nodes/summary` response seems fine:
[code]

Checked with:
tendrl-api-doc-1.2.1-04_05

[2017-04-05 07:46] anmolbabu commented on #87
@anivargi Can you please look at this as the response from performance-monitoring looks fine from the attached response

[2017-04-05 07:56] ltrilety opened #132 "GetNodeList bad number of nodes for detected clusters"
Whilst it seems that cluster is always detected the number of nodes is not correct as some of them have not `detectedcluster` section in `GetNodeList` API call response. In my case the section is missing for `ltrilety-usm1-gl2.usmqe.lab.eng.brq.redhat.com` and so I have 3 nodes shown in clusters section instead of 4. Stop and start of `tendrl-node-agent` on the machine fix the issue.

That said it

[2017-04-05 08:57] ltrilety opened #133 "tendrl server as part of GetNodeList response"
Because a `tendrl-node-agent` is running on tendrl-server, the server is part of response from `GetNodeList` API call.
However there's no cpu statistics data from the server as `tendrl-node-monitoring` and so `collectd`are not running on the server. Moreover storage section doesn't make much sense for server, but the same could be said for ceph monitors, so no stress.
If we want to monitor tendrl-

[2017-04-05 08:59] ltrilety commented on #80
Now it returns `404 Not Found`

Checked with:
tendrl-api-doc-1.2.1-04_05_2017_01_51_04.noarch
tendrl-commons-1.2.2-04_05_2017_04_42_03.noarch
tendrl-dashboard-1.2.1-04_05_2017_11_03_12.noarch
tendrl-performance-monitoring-1.2.1-04_05_2017_11_26_14.noarch
tendrl-api-1.2.1-04_05_2017_01_51_04.noarch
tendrl-api-httpd-1.2.1-04_05_2017_01_51_04.noarch
tendrl-node-agent-1.2.2-04_05_2017_00_01_04.noarch

[2017-04-05 08:59] #80 closed

[2017-04-05 09:59] ltrilety opened #134 "missing node in imported cluster"
Sometimes import of gluster trusted pool fails to add all nodes in the cluster node list.

Scenario in my case:
1. Install all machines. Cluster was detected on tendrl site and all nodes has the same cluster `detectedcluster` fields.
2. Import cluster using `ImportCluster` API call with following data:
[code]
    BTW I checked ids of machines against ids in etcd nodes and they matched.
3. Run the

[2017-04-05 11:52] mkudlej commented on #91
This bug seems still there
[code]
[code]

[2017-04-05 11:54] sankarshanmukhopadhyay commented on #91
A quick clarifying question - the v1.2.2 build did not declare any Gluster features being signed off as integration testing completed - do we want to wait until dev signs off on these?

[2017-04-05 12:46] anivargi commented on #127
Same as https://github.com/Tendrl/api/issues/128

[2017-04-05 12:46] #127 closed

[2017-04-05 12:50] anivargi commented on #118
@mkudlej there is a logout related fix on master.

[2017-04-05 15:19] ltrilety opened #135 "GetNodeList call takes too long"
`GetNodeList` request is basic API call, which is called very often on UI. Because of that it will be good if the call takes as small amount of time as possible.
However with 4 `gluster` nodes and 1 `tendrl` server it takes more than 30 seconds to answer in my case when I work over VPN.
That said it raises a question: 'What about if there will be more nodes?'
Moreover I noticed there's a lot of in

[2017-04-05 15:27] sankarshanmukhopadhyay commented on #94
The packages are now available. Please provide feedback once you get to them to run this section of the test.

[2017-04-05 17:56] mbukatov commented on #118
Scenario 1 in this report has been automated as [test_login_multiple_sessions](https://github.com/Tendrl/usmqe-tests/blob/da4816675129e8add97c69b7fcd0a722b39b05bd/usmqe_tests/api/tendrl/others/test_authentication.py#L51), scenario 2 as [test_login_multiple_sessions_twisted](https://github.com/Tendrl/usmqe-tests/blob/da4816675129e8add97c69b7fcd0a722b39b05bd/usmqe_tests/api/tendrl/others/test_authen

[2017-04-06 05:33] shtripat commented on #132
@ltrilety were there some errors in node-agent logs where detected cluster field was empty (and got populated after re-start)?

[2017-04-06 06:19] shtripat commented on #134
I am trying to  simulate this in my setup. Will update soon

[2017-04-06 06:28] ltrilety commented on #132
@shtripat that's a valid and good question, unfortunately I have to reinstall my machines. I'll provide an answer if that happens again.

[2017-04-06 07:26] ltrilety commented on #132
@shtripat and now the corner case happens to me, no node has `detectedcluster` section.

Anyway this errors can be found for tendrl-node-agent before I stop it
[code]

Checked with:
tendrl-api-doc-1.2.2-04_06_2017_01_51_04.noarch
tendrl-commons-1.2.2-04_06_2017_04_42_05.noarch
tendrl-dashboard-1.2.1-04_05_2017_11_03_12.noarch
tendrl-performance-monitoring-1.2.2-04_06_2017_03_02_03.noarch
tendrl-ap

[2017-04-06 07:26] shtripat commented on #134
@ltrilety I tried import flow with a 4 node gluster cluster and it works properly as expected.
I can see all the 4 nodes listed under `/clusters/{id}/nodes` and under `/nodes/{id}/TendrlContext` value is populated properly for all the nodes.

Also I tried to import the cluster with same set of nodes and it fails as expected with error `Nodes already participate in existing cluster`.

May be you sh

[2017-04-06 08:22] shtripat commented on #132
@ltrilety thanks for the logs. It clearly looks an issue with etcd server. May be related to load and too many writes to etcd. https://github.com/coreos/etcd/issues/3864

@r0h4n thoughts?

[2017-04-06 12:16] ltrilety commented on #135
I think 'GetNodeList' should not contain following sections, as they are not used for creation of the basic hosts list on UI `Hosts` page.
[code]
Where memory, cpu, platform, os, networks and even disks are not so problematic as those data are static they will not change much. However together make a nice sum of additional data.
They should be available after some details about a node is required

[2017-04-06 12:31] ltrilety commented on #134
@shtripat sorry about that, I didn't expect to be easily reproduced. It happens only scarcely to me and moreover a slow network could be in the play too as it happens when I was importing a cluster over VPN.

I'll try to provide more information if it happens again. I already re-install my machines.

[2017-04-06 16:06] mkudlej opened #138 "wrong gluster cluster detection"
I see this issue https://github.com/Tendrl/dashboard/issues/132 with
Server:
[code]
Glister node:
[code]
[code]

[etcddump.tar.gz](https://github.com/Tendrl/api/files/903236/etcddump.tar.gz)

[2017-04-06 16:18] mkudlej commented on #94
I've tested this for import ceph cluster and it works. Problem was that Epel should be enabled even after Tendrl installation because tendrl-ceph-integration package has dependency from epel.
Tested with:
[code]

[2017-04-06 16:18] mkudlej commented on #94
@fbalak Please close this.

[2017-04-06 16:24] mkudlej commented on #91
@sankarshanmukhopadhyay I think this worked before, so it is regression.

[2017-04-06 18:06] pmjunior commented on #117
How can I change admin password?

[2017-04-07 07:03] #94 closed

[2017-04-09 13:35] cloudbehl opened #139 "Required values that are not coming from API"
**Role not coming properly**
For the ceph cluster the role is available on the first value of list but in gluster cluster the role is the second item in the list. So it should be consistant as UI needs to write extra logic to handle this situation.
Ceph : "tags": "[**\"ceph/mon\",** \"tendrl/integration/ceph\", \"tendrl/node\"]"
Gluster: "tags":"[\"tendrl/integration/gluster\", **\"gluster/server\

[2017-04-09 13:36] cloudbehl commented on #139
@anivargi @r0h4n @brainfunked @nthomas-redhat  @sankarshanmukhopadhyay

[2017-04-10 07:09] fbalak opened #140 "Getting non-existent user returns Internal Server Error"
When I call `GET hostname/api/1.0/users/thardy` and there is no user with username `thardy`, server returns `500 Internal Server Error` response. There should be `404 Not Found` response.

[2017-04-10 20:47] julienlim opened #141 "API docs example missing key information"
@Tendrl/tendrl_documentation

In trying to query for the jobs listing or job details per https://github.com/Tendrl/api/blob/master/docs/jobs.adoc, the examples are missing key information for the sample requests to work.  Specifically, if you follow the examples provided, you get an unauthorization message.

In order to correctly query using the API, user needs to pass a token, and it's not docume

[2017-04-11 10:56] sankarshanmukhopadhyay commented on #78
Now that https://github.com/Tendrl/api/issues/94 is closed, please verify this and provide us with feedback.

[2017-04-11 14:29] mkudlej commented on #78
I'll wait for resolving of https://github.com/Tendrl/api/issues/91 Then we can create and delete volume via API and check Etcd record.

[2017-04-12 08:37] nthomas-redhat commented on #138
@mkudlej able to reproduce this issue? Not seeing this issue any of the setups

[2017-04-12 08:39] nthomas-redhat commented on #134
@ltrilety any update on this?

[2017-04-12 08:55] ltrilety commented on #134
@nthomas-redhat nope, I'll try the scenario and if it doesn't happen again I could close this issue for now. And let it be closed until it happen again. Lets hope I will have more information then.

[2017-04-12 09:20] ltrilety commented on #134
I tried the scenario. Well, the second import doesn't fail as before actually it succeeded and so I ended with two clusters. One has 1 node the other one has 3 nodes. That's another output than before, but even so I think the issue is valid.

Checked on:
tendrl-api-doc-1.2.2-04_10_2017_01_51_03.noarch
tendrl-commons-1.2.2-04_10_2017_04_42_05.noarch
tendrl-dashboard-1.2.1-04_10_2017_04_11_04.noarch

[2017-04-13 08:43] fbalak commented on #91
When I try to create volume according to https://github.com/Tendrl/api/blob/master/docs/volumes.adoc#create-volume the job fails but now there is a message on address hosntame/api/1.0/jobs/job_id/messages: `Invalid JSON received.` Was there some change in volume creation flow or added some mandatory parameter?

Tested with:
tendrl-performance-monitoring-1.2.2-04_13_2017_03_02_03.noarch
tendrl-node

[2017-04-17 11:32] nnDarshan commented on #91
The new structure for create volume is:

{"Volume.volname":"Volume_3","Volume.bricks":[[{"node1":"/glusterfs/b1_mount/b1"}, {"node2":"/glusterfs/b3_mount/b3"}],[{"node1":"/glusterfs/b2_mount/b2"}, {"node2":"/glusterfs/b4_mount/b4"}], [{"node3":"/glusterfs/b5_mount/b5"}, {"node4":"/glusterfs/b7_mount/b7"}]], "Volume.replica_count": "2", "Volume.force": true}

for brick list we have to provide list

[2017-04-17 11:39] anivargi commented on #91
@nnDarshan Ack.

[2017-04-17 16:48] r0h4n commented on #130
Fixed: https://copr.fedorainfracloud.org/coprs/tendrl/release/

[2017-04-17 16:48] #130 closed

[2017-04-18 05:43] anmolbabu commented on #87
I see this issue occurring randomly in performance-monitoring side I'll look into this

[2017-04-18 08:47] fbalak commented on #91
@nnDarshan I tried your example but it still returns message `Invalid JSON received.` I tried it with valid brick paths and as node1-4 I tried to use fqdn and node_id. All jobs failed.
Tested with:
tendrl-commons-1.2.2-04_17_2017_20_19_16.noarch
tendrl-node-agent-1.2.3-04_18_2017_02_22_22.noarch
tendrl-gluster-integration-1.2.3-04_18_2017_04_40_20.noarch
tendrl-performance-monitoring-1.2.2-04_18_2

[2017-04-18 09:11] nnDarshan commented on #91
@fbalak Could you please provide the API request body

[2017-04-18 09:18] fbalak commented on #91
@nnDarshan POST {"Volume.volname":"Volume_3","Volume.bricks":[[{"8f0d7e28-0f12-4ac5-a95d-ebc6b436da40":"/bricks/fs_gluster01/brick"}, {"39f69de0-522d-42f7-bb2e-58b33bd4bb9e":"/bricks/fs_gluster01/brick"}],[{"8f0d7e28-0f12-4ac5-a95d-ebc6b436da40":"/bricks/fs_gluster01/brick"}, {"39f69de0-522d-42f7-bb2e-58b33bd4bb9e":"/bricks/fs_gluster01/brick"}], [{"dc5422c8-15a1-4e8d-96ad-4d1161d9054b":"/bricks/f

[2017-04-18 09:44] anivargi commented on #91
@fbalak a curl command would be better, since we need to know how you are posting the data to the backend and receiving the invalid json response

[2017-04-18 10:34] fbalak commented on #91
@anivargi ok:
`curl -H "Content-Type: application/json" -H "Authorization: Bearer 9ad50ee4c40a895e1865da0b9feb63c964e2de4fa552a384ff1c8636549df7ee" -X POST -d '{"Volume.volname":"Volume_3","Volume.bricks":[[{"hostname1":"/bricks/fs_gluster01/brick"}, {"hostname2":"/bricks/fs_gluster01/brick"}],[{"hostname1":"/bricks/fs_gluster02/brick"}, {"hostname2":"/bricks/fs_gluster02/brick"}], [{"hostname3":"

[2017-04-18 12:54] nnDarshan commented on #91
@fbalak There are a few changes(we are using gdeploy instead of cli calls) in the way gluster CRUD operations happen in latest release. As part of import/create cluster gdeploy is installed in one of the nodes and the environment needed for it is set up. So please try volume creation with newly created cluster / newly imported cluster.
The updated installation guide for installing packages is at:

[2017-04-18 14:31] fbalak opened #148 "Wrong return code when calling ImportCluster with invalid data"
When calling `ImportCluster` flow with invalid data: `{"node_ids": ["000000-0000-0000-0000-000000000"], "sds_type": "glusterfs"}` and correct access_token then response code is `401 Unauthorized`. Response should be `202 Accepted` with a job_id. This job should fail. Calling `ImportCluster` with data generated by dashboard works all right.

`curl -XPOST -H "Content-Type: application/json" -H "Auth

[2017-04-18 15:58] anivargi commented on #148
@fbalak if you got a 401 it means the access_token is incorrect and you are Unauthorized, the request did not even reach the endpoint, it has nothing to do with incorrect data actually.

[2017-04-18 16:29] fbalak commented on #148
@anivargi but I tried requests later with the same access token to different api calls like /jobs and even /ImportCluster with UI generated data and all worked.

[2017-04-19 06:50] nthomas-redhat commented on #138
I had a look at the etcd dump attached here. That looks perfectly fine, I could see that same cluster-id is populated for `DetectedCluster' objects for all the node-ids listed here. I am not sure how you got the the above responsefrom the API. One reason could be running the API request before the node-agent initialized completely(and pushed the data into etcd). I am closing this issue now, reopen

[2017-04-19 06:50] #138 closed

[2017-04-19 08:32] fbalak commented on #148
Now that I try it I get either `500 Internal Server Error` or `502 Bad Gateway`.

Tested with:
tendrl-api-1.2.3-04_19_2017_01_51_04.noarch
tendrl-node-agent-1.2.3-04_19_2017_00_01_05.noarch
tendrl-gluster-integration-1.2.3-04_19_2017_04_39_16.noarch

[2017-04-19 08:41] anivargi commented on #148
Alright. Can you send me the API logs?

[2017-04-19 09:09] fbalak commented on #148
@anivargi Sure.
[code]

[2017-04-19 12:10] brainfunked commented on #115
@TimothyAsir here's what needs to be done in the spec file:

* Create a user `tendrl-api`: `useradd -s /sbin/nologin -r -d %{_datadir}/%{name}`.
* Change the permissions on `/etc/tendrl/etcd.yml` to be `640` with the ownership set to `root:tendrl-api`.

You'll also need to update the systemd service file to start the process as the tendrl-api user.

[2017-04-19 13:15] fbalak commented on #91
@nnDarshan I added gdeploy repo according to documentation but job from curl command above still returns "message": "Invalid JSON received."
Tested with:
tendrl-commons-1.2.3-04_19_2017_05_13_06.noarch
tendrl-performance-monitoring-1.2.2-04_19_2017_03_02_04.noarch
tendrl-api-1.2.3-04_19_2017_01_51_04.noarch
tendrl-node-agent-1.2.3-04_19_2017_00_01_05.noarch
tendrl-node-monitoring-1.2.2-04_19_2017_

[2017-04-19 14:00] nthomas-redhat commented on #91
@fbalak , please share the setup with us. I will send a separate email regrading this. This definitely not seen in our environment.

[2017-04-20 08:13] r0h4n commented on #148
Please use paste bin or something similar to send logs

[2017-04-20 08:39] fbalak commented on #91
Now it seems ok. --> closing

Tested with:
tendrl-api-1.2.3-04_20_2017_01_51_03.noarch
tendrl-node-agent-1.2.3-04_20_2017_00_01_06.noarch
tendrl-node-monitoring-1.2.3-04_20_2017_04_25_04.noarch
tendrl-gluster-integration-1.2.3-04_20_2017_04_39_21.noarch
tendrl-commons-1.2.3-04_20_2017_05_13_04.noarch

[2017-04-20 08:39] #91 closed

[2017-04-20 15:12] ltrilety opened #152 "GetNodeList bad clusters list"
Restart of storage nodes often destroy possibility to correctly import a cluster. After restart sometimes two cluster are detected where there's only one and/or the cluster id is empty.

The issue could be related to https://github.com/Tendrl/node-agent/issues/373

Example of clusters list from `GetNodeList` api call result:
[code]

Used packages:
tendrl-api-httpd-1.2.2-04_18_2017_01_51_04.noarch

[2017-04-21 07:13] gnehapk opened #153 "Single API call for Create RBD which handles both - creation using existing and new pool as a backing pool"
Creation of RBD involves two scenarios -
1) Using existing pool or
2) Creating new pool as the backing pool

Currently, the API for creating pool and RBD is different. So in the UI, if user chooses the second option, ideally user has to wait on the create pool screen till the pool is created.
If we can have a single API call for handling both process(creating pool and then continuing rbd creation)

[2017-04-21 11:18] mkudlej opened #154 "Imported cluster is not in a list of clusters when import job is finished "2""
I see this issue while I'm importing Ceph cluster. It's similar than https://github.com/Tendrl/api/issues/67

Test log:
[code]

I see this with:
[code]

[2017-04-24 08:05] mbukatov commented on #81
I have added this issue into [Proposed Release Blockers](https://github.com/Tendrl/usmqe-tests/wiki#proposed-release-blockers), cost of fixing this bug is going to be much higher if we let it unfixed.

[2017-04-24 08:16] mbukatov commented on #118
Based on test run with tendrl-api-1.2.3-04_19_2017_14_16_32.noarch:

[code]

I'm closing this issue.

[2017-04-24 08:16] #118 closed

[2017-04-24 10:36] fbalak opened #155 "Documentation for monitoring API"
PR https://github.com/Tendrl/api/pull/145 containing monitoring related API calls was merged. There should be a documentation how to use these calls.

[2017-04-25 13:24] fbalak commented on #78
After API call the volume is deleted from etcd. Looks ok. --> closing
Tested with:
tendrl-performance-monitoring-1.2.3-04_25_2017_03_02_03.noarch
tendrl-api-1.2.3-04_25_2017_01_51_04.noarch
tendrl-node-agent-1.2.3-04_25_2017_00_01_05.noarch
tendrl-node-monitoring-1.2.3-04_25_2017_04_25_04.noarch
tendrl-gluster-integration-1.2.3-04_25_2017_04_39_18.noarch
tendrl-commons-1.2.3-04_25_2017_17_15_13.no

[2017-04-25 13:24] #78 closed

[2017-04-25 14:54] fbalak commented on #117
I agree, the password is currently generated from [8 hexadecimal characters](https://github.com/Tendrl/api/blob/11fdde91b6618a59110fd1c43d46243f4c07a075/Rakefile#L12).

@pmjunior You can change password [via API](https://github.com/Tendrl/api/blob/master/docs/users.adoc#update-user). You just have to specify also email for `admin` user because it won't let you update user without email.

[2017-04-26 12:43] gnehapk opened #158 "Event List is not populated for every task in the UI"
API for getting event list is giving "404" status code for some tasks in the UI.

For eg -

Request - http://10.70.43.137/api/1.0/jobs/831655a2-6007-420f-9007-cbca0ba1449e/messages
Response - {"errors":{"message":"Key not found"}} with status code 404.

@brainfunked @anivargi @nthomas-redhat @sankarshanmukhopadhyay

[2017-04-27 12:25] ltrilety commented on #128
As of now when I start to import a cluster there's no `500 Internal Server Error` anymore, however there is still an issue. First the request returns `400 Bad Request`, later `404 Not Found` and few seconds before the job finishes it return `200 OK` with some response.

Checked version:
tendrl-api-httpd-1.2.3-04_26_2017_01_51_04.noarch

[2017-04-27 12:29] ltrilety opened #159 "GetClusterList returns 500 Internal Server Error"
GetClusterList returns `500 Internal Server Error` about 30 seconds after the first cluster is imported. The impoer cluster job status says finished, however it takes about 30 seconds till the `GetClusterList` starts to work and returns list with the imported cluster.

Used package:
tendrl-api-1.2.3-04_26_2017_01_51_04.noarch

[2017-04-27 12:30] ltrilety commented on #127
As of now when I start to import a cluster there's no `500 Internal Server Error` anymore, however there is still an issue. First the request returns `400 Bad Request`, later `404 Not Found` and few seconds before the job finishes it return `200 OK` with some response.

Checked version:
tendrl-api-1.2.3-04_26_2017_01_51_04.noarch

[2017-04-27 12:35] ltrilety opened #160 "messages API call"
When import of a cluster is started API call for checking messages
e.g. `http://<tendrl_hostname>/api/1.0/jobs/6b989446-32ed-412a-951a-72dd35e20090/messages`
 returns first `400 Bad Request`, later `404 Not Found` and few seconds before the job finishes it returns `200 OK` with proper response.

Checked version:
tendrl-api-1.2.3-04_26_2017_01_51_04.noarch

[2017-04-27 15:10] ltrilety opened #163 "ceph cluster is not in GetNodeList"
In case when there's ceph cluster present on storage nodes it's not part of clusters in  `GetNodeList` response. There's no `DetectedCluster` field present for any node `osd` and `monitor`.

BTW: the cluster name was not 'ceph', in current case it was 'test_name'

`GetNodeList` response:
[code]

Used packages:
tendrl-node-monitoring-1.2.3-04_27_2017_04_25_04.noarch
tendrl-commons-1.2.3-04_27_2017_

[2017-04-28 07:59] fbalak commented on #128
Works as expected. --> closing
Tested with:
tendrl-api-1.2.3-04_28_2017_01_51_05.noarch
tendrl-node-agent-1.2.3-04_28_2017_00_01_03.noarch

[2017-04-28 07:59] #128 closed

[2017-05-03 06:25] ltrilety commented on #160
Seems fine.

Checked on:
tendrl-api-httpd-1.2.3-05_03_2017_01_51_04.noarch
tendrl-dashboard-1.2.3-05_03_2017_04_11_33.noarch
tendrl-performance-monitoring-1.2.3-05_03_2017_03_02_33.noarch
tendrl-api-doc-1.2.3-05_03_2017_01_51_04.noarch
tendrl-node-agent-1.2.3-05_03_2017_00_01_04.noarch
etcd-3.1.3-1.el7.x86_64
tendrl-api-1.2.3-05_03_2017_01_51_04.noarch
tendrl-commons-1.2.3-05_03_2017_05_13_04.noar

[2017-05-03 06:25] #160 closed

[2017-05-03 12:23] nthomas-redhat commented on #163
@ltrilety , Does this issue reproducible with latest builds?

[2017-05-03 12:35] ltrilety commented on #163
Seems to be fine.

Checked with:
tendrl-api-httpd-1.2.3-05_03_2017_01_51_04.noarch
tendrl-dashboard-1.2.3-05_03_2017_04_11_33.noarch
tendrl-performance-monitoring-1.2.3-05_03_2017_03_02_33.noarch
tendrl-api-doc-1.2.3-05_03_2017_01_51_04.noarch
tendrl-node-agent-1.2.3-05_03_2017_00_01_04.noarch
etcd-3.1.3-1.el7.x86_64
tendrl-api-1.2.3-05_03_2017_01_51_04.noarch
tendrl-commons-1.2.3-05_03_2017_05_13

[2017-05-03 12:35] #163 closed

[2017-05-03 13:15] ltrilety opened #165 "import of ceph cluster"
A ceph cluster import job remains in New state and never change to processing and so later to finished/failed.

Used packages:
tendrl-api-httpd-1.2.3-05_03_2017_01_51_04.noarch
tendrl-dashboard-1.2.3-05_03_2017_04_11_33.noarch
tendrl-performance-monitoring-1.2.3-05_03_2017_03_02_33.noarch
tendrl-api-doc-1.2.3-05_03_2017_01_51_04.noarch
tendrl-node-agent-1.2.3-05_03_2017_00_01_04.noarch
etcd-3.1.3-

[2017-05-03 13:28] ltrilety commented on #165
Logs and configurations:
[evidence-files.zip](https://github.com/Tendrl/api/files/973444/evidence-files.zip)

[2017-05-03 18:03] fbalak commented on #159
`GetClusterList` now returns `500 Internal Server Error` right after the cluster is imported. After few seconds the service starts working as expected.
Tested with:
tendrl-api-1.2.3-05_03_2017_01_51_04.noarch
tendrl-node-agent-1.2.3-05_03_2017_00_01_04.noarch
tendrl-commons-1.2.3-05_03_2017_05_13_04.noarch

[2017-05-04 08:03] mkudlej opened #166 "API should always return JSON"
For example if there is internal server error(500) server returns HTML:
[code]
which is not valid JSON.
I think that API should always return message in JSON. In this case something like:
[code]

[2017-05-04 08:11] mkudlej commented on #159
I see this issue also with importing of Ceph cluster. Imported cluster should be in cluster list when job for importing has finished. There should not be internal server error.

[2017-05-04 08:23] ltrilety commented on #159
As of now it never stop to return `500 Internal Server Error`

Checked in:
tendrl-api-1.2.3-05_03_2017_01_51_04.noarch

[2017-05-04 16:26] ltrilety commented on #159
OK, so now it returns empty list. I agree that's a big improvement, however there should be no visible delay between the task is finished and the cluster is present in the list.

![empty_cluster_list](https://cloud.githubusercontent.com/assets/22369834/25713980/db1e727e-30f6-11e7-91fa-24f44ca6e1da.png)

Checked with:
tendrl-api-httpd-1.2.3-05_04_2017_01_51_04.noarch
tendrl-dashboard-1.2.3-05_04_20

[2017-05-04 16:35] ltrilety commented on #134
It could happen if the `import_cluster` is called from UI too.

![bad_cluster](https://cloud.githubusercontent.com/assets/22369834/25714441/4cac1698-30f8-11e7-882e-b163135a61b3.png)

Checked with:
tendrl-api-httpd-1.2.3-05_04_2017_01_51_04.noarch
tendrl-dashboard-1.2.3-05_04_2017_04_11_06.noarch
tendrl-performance-monitoring-1.2.3-05_04_2017_11_57_30.noarch
tendrl-api-doc-1.2.3-05_04_2017_01_51_04

[2017-05-09 08:55] mkudlej opened #168 "CephUpdatePool - cannot change pool name and other attributes by one function call"
Not it is not possible to change pool name and other attributes by one function call.
I think that it should be possible to do so or there should be 2 functions instead of one. One for renaming pool and other one for changing pool attributes.

[2017-05-09 19:02] japplewhite opened #170 "rake etcd:load_admin fails with Connection refused - connect(2)"
etcd-3.1.3-1.el7.x86_64
tendrl-api-1.2.3-05_09_2017_13_23_12.noarch
tendrl-api-doc-1.2.3-05_09_2017_13_23_12.noarch
tendrl-api-httpd-1.2.3-05_09_2017_13_23_12.noarch

On my testbed I can create keys with etcdctl mkdir /foo and list them but when I try to create the admin user I get:

[root@tendrl tendrl-api]# RACK_ENV=production;rake etcd:load_admin --trace
** Invoke etcd:load_admin (first_time)
*

[2017-05-09 20:05] japplewhite commented on #170
appears to be related to the use of localhost in the usmqe-setup process. closing

[2017-05-09 20:05] #170 closed

[2017-05-11 05:46] mkudlej opened #171 "user cannot login after package update"
I've updated api package and I was not able to login and password which are the same as I've used with previous package. I have to delete user from Etcd and load it again with Rake.
There traceback in Apid output:
[code]
I've used as new packages
[code]
Old packages were one day older that previous list. I've restarted machines after package update.

[2017-05-11 05:55] mkudlej commented on #171
And now I'm not able to load admin user:
[code]

[2017-05-11 08:42] mkudlej commented on #171
It seems that this happen because of misconfiguration because upgrade replaced configuration files.

[2017-05-11 08:42] #171 closed

[2017-05-11 11:26] ltrilety commented on #159
The `500 Internal Server Error` is back and now it takes even longer till the cluster appears in the list.

Checked with:
tendrl-dashboard-1.2.3-05_11_2017_04_11_05.noarch
tendrl-performance-monitoring-1.2.3-05_11_2017_03_02_05.noarch
tendrl-api-httpd-1.2.3-05_11_2017_01_51_04.noarch
tendrl-node-agent-1.2.3-05_11_2017_00_01_05.noarch
tendrl-api-doc-1.2.3-05_11_2017_01_51_04.noarch
tendrl-commons-1

[2017-05-15 19:02] r0h4n commented on #134
Hey, can you reproduce this one and more job payload and job msgs and node-agent logs

[2017-05-15 19:04] r0h4n commented on #132
Is this bug still valid?

[2017-05-16 11:49] mkudlej opened #172 "GetPoolList - useless nesting"
Now function GetPoolList returns:
[code]
I think that this structure should be more flat so something like:
[code]

[2017-05-16 15:59] fbalak opened #173 "jobs API call returns "Invalid JSON received." error"
I have created 2 cluster import jobs and after it following API call starts to return:  `"errors": {"message": "Invalid JSON received."}` In dashboard it also doesn't work.

`curl -XGET -H "Authorization: Bearer 9af866653ff94d7a9a3892cc3ee2675a51e851fbae00ed10aebc3b3b126cab75" http://fbalak-usm1-server.usmqe.lab.eng.brq.redhat.com/api/1.0/jobs`

There is log from `journalctl -u tendrl-apid`:
[apid

[2017-05-17 07:23] anivargi commented on #173
@fbalak can you mail me the etcd instance details?

[2017-05-17 07:33] shtripat commented on #165
With latest builds, the import cluster works fine. Would suggest to try once and update.

[2017-05-17 07:34] shtripat commented on #168
@Tendrl/tendrl-core if you feel we can have additional flow defined for renaming a pool, it can be added.
Plz suggest...

[2017-05-17 07:36] r0h4n commented on #168
@shtripat Yes, please go ahead

[2017-05-17 08:28] fbalak commented on #173
@anivargi I have sent you a mail.

[2017-05-17 09:02] ltrilety commented on #165
It was working on newer packages. However even when I was creating the issue I didn't thought the issue remains. It looked more like random problem. Hence I provided all logs and configurations.

That said I am closing the issue for now and if it happens again I'll reopen it.

[2017-05-17 09:02] #165 closed

[2017-05-17 09:31] anivargi commented on #158
@gnehapk is this still a issue?

[2017-05-17 10:05] gnehapk commented on #158
@anivargi The error is not coming now. But the response is returning empty list of messages.

Checked with - http://10.70.42.170/api/1.0/

URL - http://10.70.42.170/api/1.0/jobs/6f66ae89-44de-4ef8-a567-b5d7c3b5239c/messages and
URL - http://10.70.42.170/api/1.0/jobs/0621099c-3eb7-4e24-a5d5-9017ef6e749b/messages

Both APIs are returning empty array.

[2017-05-17 10:19] r0h4n commented on #159
Still investigating this one, have you seen this with latest builds btw?

[2017-05-17 10:25] fbalak commented on #159
@r0h4n I think that it worked when I imported cluster yesterday but I will test it more and close it after https://github.com/Tendrl/node-agent/issues/435 is resolved.

[2017-05-18 07:00] ltrilety commented on #159
@r0h4n Yes I can see it on:
tendrl-commons-1.2.3-05_18_2017_05_13_05.noarch
tendrl-dashboard-1.2.3-05_18_2017_04_11_06.noarch
tendrl-performance-monitoring-1.2.3-05_18_2017_03_02_04.noarch
tendrl-api-1.2.3-05_18_2017_10_45_13.noarch
tendrl-api-httpd-1.2.3-05_18_2017_10_45_13.noarch
tendrl-node-agent-1.2.3-05_18_2017_04_16_25.noarch
tendrl-api-doc-1.2.3-05_18_2017_10_45_13.noarch

[2017-05-18 07:04] ltrilety commented on #134
still valid on:
tendrl-commons-1.2.3-05_18_2017_05_13_05.noarch
tendrl-dashboard-1.2.3-05_18_2017_04_11_06.noarch
tendrl-performance-monitoring-1.2.3-05_18_2017_03_02_04.noarch
tendrl-api-1.2.3-05_18_2017_10_45_13.noarch
tendrl-api-httpd-1.2.3-05_18_2017_10_45_13.noarch
tendrl-node-agent-1.2.3-05_18_2017_04_16_25.noarch
tendrl-api-doc-1.2.3-05_18_2017_10_45_13.noarch

Look for number of hosts on t

[2017-05-18 07:11] r0h4n commented on #159
@anmolsachan Please try to reproduce this issue.

Problem here is that after ImportCluster succeeds, for sometime the GetClusterList API returns 500, and then it works as expected. right @ltrilety ?

@anivargi @anmolsachan This happens because all objects in the cluster arent synced very fast and due to which the API breaks

[2017-05-18 07:26] r0h4n commented on #159
@anivargi Please list out mandatory objects inside /clusters/:id/* required for a successful GetClusterList API call

[2017-05-18 09:34] ltrilety commented on #159
@r0h4n right, sometimes it doesn't return 500 but empty list. However that's not correct too.
Moreover the time when it starts to work differs. Once it is 30 seconds other time it's around 1 minute and more especially for ceph cluster.

[2017-05-18 09:45] anmolsachan commented on #159
@ltrilety Can u please elaborate on how are you checking the job status , I mean directly through etcd or the dashboard ?

[2017-05-18 09:57] ltrilety commented on #159
@anmolsachan using dashboard or api `jobs` call. I didn't check `etcd` directly.

[2017-05-18 11:24] fbalak commented on #159
I have tested it on two instances where I had 1 gluster cluster and 1 ceph cluster. After successful import of gluster cluster `GetClusterList` returns `500 Internal Server Error` but doesn't get better. This response remains for this call for more than hour.
Tested with:
tendrl-node-agent-1.2.3-05_18_2017_13_47_17.noarch
tendrl-api-1.2.3-05_18_2017_14_04_12.noarch

[2017-05-19 11:46] fbalak opened #179 "GetNodeList doesn´t return network information"
When I ran automatic tests I discovered that section `networks` for all listed nodes from `GetNodeList` API call is missing. According to [this specification](https://github.com/Tendrl/specifications/blob/master/specs/host_list_view.adoc#problem-description) there should be at least IP address.

Response from `GetNodeList`:
[code]

Tested with:
tendrl-api-1.3.0-05_19_2017_01_51_03.noarch
tendrl-no

[2017-05-19 17:24] anmolsachan commented on #159
@r0h4n @ltrilety @fbalak I tested the latest setup with following:
tendrl-commons-1.3.0-05_19_2017_16_29_16.noarch
tendrl-node-agent-1.3.0-05_19_2017_00_01_05.noarch
tendrl-api-1.3.0-05_19_2017_01_51_03.noarch
tendrl-dashboard-1.3.0-05_19_2017_04_11_04.noarch
tendrl-api-httpd-1.3.0-05_19_2017_01_51_03.noarch

I tested the setup with a already created cluster.  Then I cleared the etcd and restarted

[2017-05-19 17:42] fbalak commented on #159
@anmolsachan I am currently not able to import cluster. I will test this again after https://github.com/Tendrl/node-agent/issues/452 will be resolved.

[2017-05-20 13:55] ltrilety commented on #159
@anmolsachan I think even in our case it is immediately in etcd, but the API call `GetClustersList` doesn't return it properly.
Last time when I was trying to reproduce this issue the cluster was present in etcd, but it never shows in output from `GetClustersList`.

[2017-05-22 08:36] anivargi commented on #179
@fbalak can you send me the API and Etcd instance to debug?

[2017-05-22 09:16] anmolsachan commented on #159
@fbalak @ltrilety Today I again tried import cluster with following:
tendrl-api-httpd-1.3.0-05_22_2017_01_51_04.noarch
tendrl-api-1.3.0-05_22_2017_01_51_04.noarch
tendrl-dashboard-1.3.0-05_22_2017_04_11_04.noarch
tendrl-node-agent-1.3.0-05_22_2017_00_01_06.noarch
tendrl-node-monitoring-1.3.0-05_22_2017_04_25_03.noarch
tendrl-commons-1.3.0-05_22_2017_05_13_04.noarch
tendrl-ceph-integration-1.3.0-05

[2017-05-22 09:34] fbalak commented on #179
@anivargi I have sent you an email.

[2017-05-22 13:38] cloudbehl opened #180 "Get Node list doesn't returns "detected cluster" key even the cluster is created and Imported."
For nodes in GetNodeList, I can see a  "detectedCluster" key is available for the nodes that are part of the cluster in etcd but the API is not listing. Hence UI is not able to detect if the node is available for the cluster creation or not.

Etcd:
http://10.70.43.235:2379/v2/keys/nodes/2b7ffda0-c742-4df5-a8e9-13a29f3aa5c6/

GetNodeList(Single Node Response):

[code]

[2017-05-22 15:09] anivargi commented on #180
@cloudbehl The clusters is only populated in the GetNodeList response if the cluster is not imported.

[2017-05-23 06:33] anivargi commented on #179
@fbalak replied.

[2017-05-23 06:33] anivargi commented on #173
@fbalak replied.

[2017-05-23 06:35] anivargi commented on #166
The error handling based on content-type was added in v1.3.0

[2017-05-23 06:35] #166 closed

[2017-05-23 06:36] anivargi commented on #159
@fbalak @ltrilety please reply with your findings and exact steps if this is still a issue.

[2017-05-23 06:37] anivargi commented on #158
@gnehapk I can't access those instances. Do you have any other instance where you have the same issue?

[2017-05-23 06:38] anivargi commented on #154
@mkudlej is this still a issue?

[2017-05-23 06:40] anivargi commented on #152
@ltrilety is this still a issue?

[2017-05-23 06:44] anivargi commented on #141
The docs are updated.

[2017-05-23 06:44] #141 closed

[2017-05-23 06:48] anivargi commented on #148
@fbalak this was fixed in v1.3.0 where we respond with proper error message about the node_ids

[2017-05-23 06:48] #148 closed

[2017-05-23 06:50] anivargi commented on #115
@TimothyAsir what is the updated on this?

[2017-05-23 06:50] anivargi commented on #134
@r0h4n

[2017-05-23 06:51] anivargi commented on #112
Fixed in v1.3.0

[2017-05-23 06:51] #112 closed

[2017-05-23 06:53] anivargi commented on #106
@mkudlej can you clarify what you mean exactly?

[2017-05-23 06:54] #95 closed

[2017-05-23 06:55] anivargi commented on #87
@anmolbabu what is the update on this issue?

[2017-05-23 06:57] anivargi commented on #56
@fbalak

[2017-05-23 06:58] anivargi commented on #46
@TimothyAsir

[2017-05-23 06:59] anivargi commented on #45
@mbukatov

[2017-05-23 07:06] fbalak commented on #56
@anivargi I will test it after issues related importing and creating cluster are resolved.

[2017-05-23 07:42] anmolbabu commented on #87
@anivargi This should be fixed now other than a known issue https://github.com/Tendrl/performance-monitoring/issues/46... @ltrilety can you please revisit this??

[2017-05-23 09:32] r0h4n commented on #134
@ltrilety Is this still valid? Havent seen this in new builds

[2017-05-23 09:39] r0h4n commented on #153
@gnehapk @anivargi the backend parts are done, and the API will reflect the new optional inputs

https://github.com/Tendrl/ceph-integration/pull/221/files#diff-c9fd4531a0ac3580d1736d30e3d25f9aR153

@gnehapk @cloudbehl Is this complete on the UI?

[2017-05-23 10:28] ltrilety commented on #152
@anivargi probably not, I didn't hit this issue a long time. That said I am closing this issue

[2017-05-23 10:28] #152 closed

[2017-05-23 10:30] fbalak commented on #173
Seems ok.
Tested with:
tendrl-api-1.3.0-05_23_2017_11_05_13.noarch
tendrl-node-agent-1.3.0-05_23_2017_03_13_07.noarch

[2017-05-23 10:30] #173 closed

[2017-05-23 10:31] ltrilety commented on #134
@r0h4n I am not sure about the newest build but it was valid for yesterday build:
tendrl-commons-1.3.0-05_22_2017_05_13_04.noarch
tendrl-dashboard-1.3.0-05_22_2017_04_11_04.noarch
tendrl-performance-monitoring-1.3.0-05_22_2017_03_02_07.noarch
tendrl-api-1.3.0-05_22_2017_01_51_04.noarch
tendrl-api-httpd-1.3.0-05_22_2017_01_51_04.noarch
tendrl-node-agent-1.3.0-05_22_2017_00_01_06.noarch
tendrl-api-d

[2017-05-23 10:37] fbalak commented on #179
Now there is "networks" section for each node.
Tested with:
tendrl-api-1.3.0-05_23_2017_11_05_13.noarch

[2017-05-23 10:37] #179 closed

[2017-05-23 11:51] fbalak commented on #87
In `hostname:5000/monitoring/nodes/summary` I miss all relevant data. Machines are running for some time. `tendrl-performance-monitoring` is running but `tendrl-node-monitoring` on nodes is inactive (no error, it just stopped after while).
[code]

From `hostname:5000/monitoring/nodes/summary`:
[code]

Is it relevant or should I create another issue for this?

Tested with:
tendrl-api-1.3.0-05_23_20

[2017-05-23 11:57] anmolbabu commented on #87
@fbalak what is the status of collectd? Could you please provide the o/p of service collectd status -l

Also, regarding node-monitoring not running, could you please check /var/log/messages for any statements containing Traceback or node_monitoring ot node-monitoring

Also please check if graphite is accessible and stats in graphite(This is likely to be small list of stats on graphite assuming nod

[2017-05-23 12:15] fbalak commented on #87
@anmolbabu collectd is also not running.

[code]

Graphite is running but there is nothing there.

[2017-05-23 12:32] ltrilety opened #183 "presence of cluster which is currently imported in GetNodeList"
`GetNodeList` returns in clusters section the cluster which is currently imported. When the import cluster job is started such cluster should not be part of `GetNodeList` response.

Used packages:
tendrl-api-doc-1.3.0-05_23_2017_11_05_13.noarch
tendrl-performance-monitoring-1.3.0-05_23_2017_06_29_05.noarch
tendrl-api-1.3.0-05_23_2017_11_05_13.noarch
tendrl-api-httpd-1.3.0-05_23_2017_11_05_13.noarc

[2017-05-23 12:56] anivargi commented on #180
@cloudbehl this is fixed on master.

[2017-05-23 12:56] #180 closed

[2017-05-23 12:59] mkudlej commented on #154
@anivargi I'll test it once I'll be able to import cluster.

[2017-05-23 13:42] ltrilety opened #184 "jobs returns 400 Bad Request"
After submitting second import for some unknown reason jobs call starts to return `400 Bad Request`.
There's following error in tendrl-node-agent log:
2017-05-23 13:23:01.655087+00:00 - node_agent - /usr/lib/python2.7/site-packages/tendrl/commons/jobs/__init__.py:248 - _run - ERROR - Job processing failure, error:type - KeyError: [{u'function': u'run', u'line': 327, u'file': u'/usr/lib64/python2.7

[2017-05-23 13:44] r0h4n commented on #184
When you say "after submitting second import" , do you mean you submitted a original import cluster job and then while the original import cluster job was "processing" you submitted another import cluster job with the same set of parameters?

[2017-05-23 13:49] ltrilety commented on #184
@r0h4n I have two clusters. First one was imported successfully I start to import the second one and then it happens.

[2017-05-24 11:13] gnehapk commented on #153
@r0h4n Not yet. We will take this up.

[2017-05-24 13:02] mbukatov commented on #45
@anivargi I see that the issue was fixed for tendrl-api back in December, but the request was not yet merged.

[2017-05-24 13:02] mbukatov commented on #46
@anivargi I see that the issue was fixed for tendrl-api back in December, but the request was not yet merged.

[2017-05-25 06:46] nthomas-redhat commented on #154
@mkudlej please re-test and let us know

[2017-05-26 08:13] anivargi commented on #183
@r0h4n is there a flag we add to the nodes when they are selected for importing using which I can filter while the cluster is being imported?

[2017-05-26 08:15] r0h4n commented on #184
@anmolsachan Please try to reproduce this issue

Steps:
1) Have 1 ceph cluster, 1 gluster cluster ready
2) Install tendrl-node-agents, tendrl-perf-mon, tendrl-node-mon,  on all nodes of these clusters
3) Import ceph cluster via tendrl-dashboard
4) After successful import of ceph cluster, Import the gluster cluster via tendrl-dashboard

@ltrilety Please correct me if the steps are wrong

[2017-05-26 09:00] r0h4n commented on #183
There is no lock/flag for Nodes participating in a import or create cluster call. We will have to mark this as a known issue and fix it soon.

For now, the test case has to be such that we do not successively import/create using the same set of Nodes

[2017-05-26 09:40] ltrilety commented on #184
@r0h4n your reproduction steps are correct.

[2017-05-29 13:36] anmolsachan commented on #184
@r0h4n @ltrilety  I tested for the issue. Followed the steps exactly as in above. Both the clusters got imported successfully.
The following was the setup:

tendrl-api-1.3.0-05_29_2017_03_52_03.noarch
tendrl-node-agent-1.3.0-05_29_2017_03_13_03.noarch
tendrl-performance-monitoring-1.3.0-05_29_2017_06_29_03.noarch
tendrl-node-monitoring-1.3.0-05_29_2017_04_25_03.noarch
tendrl-dashboard-1.3.0-05_29_

[2017-05-29 14:01] r0h4n commented on #184
@ltrilety can you still reproduce this with builds mentioned?

[2017-05-31 10:51] cloudbehl opened #193 "SSD property is not coming inside disks key of GetNodeList"
Disks key doesn't have SSD property inside every disk.

[code]

[2017-05-31 11:59] mkudlej commented on #154
Yes, this is still issue and it affects also UI. If user see finished cluster import task in UI and then would like to look at list of clusters. Imported cluster is not there(like in API GetCluster response). I see some info about imported cluster on main Ceph Dashboard.

[2017-05-31 18:13] mbukatov commented on #29
I guess this can be closed (we no longer need to install directly from sources thanks to copr build system).

[2017-05-31 19:25] mbukatov commented on #45
I need to recheck this ... I just installed upstream `tendrl-api-1.3.0-1.el7.centos.noarch` and the service is still called `tendrl-apid` ... why is this stalled?

[2017-06-01 07:25] fbalak commented on #29
@mbukatov I agree --> closing

[2017-06-01 07:25] #29 closed

[2017-06-01 13:50] fbalak opened #197 "Create cluster documentation is not clear"
I do not understand what exactly do all the parameters for [`CreateCluster` API call](https://github.com/Tendrl/api/blob/master/docs/clusters.adoc#create-cluster). There are some parameters that apply only for ceph and I am not sure if anything from those parameters I can use for gluster.

I also do not understand what `provisioning_ip` parameter stand for. I thought that it should point to node w

[2017-06-01 16:58] r0h4n commented on #183
Fixed: https://github.com/Tendrl/commons/pull/538

You will not be able to import Nodes already participating in a import/create/expand api cal

[2017-06-01 16:58] #183 closed

[2017-06-01 17:05] r0h4n commented on #45
Fixed: https://github.com/Tendrl/api/pull/196

[2017-06-01 17:05] #45 closed

[2017-06-01 17:07] #193 closed

[2017-06-02 08:57] mbukatov commented on #45
Thank you. I see this fixed in `tendrl-api-1.4.0-1.el7.centos.noarch`.

[2017-06-02 09:26] fbalak commented on #197
What are possible values for `conf_overrides` parameter?

[2017-06-05 12:00] mbukatov opened #200 "Update name of tendrl-api service"
Since the [name of tendrl-api service has been recently updated](https://github.com/Tendrl/api/issues/45), definition and fixture files (in `spec/fixtures`) should be updated as well and contain `tendrl-api` instead of `tendrl-apid`.

[2017-06-05 12:01] mbukatov commented on #200
This is similar to https://github.com/Tendrl/node-agent/issues/485

[2017-06-05 12:10] ltrilety commented on #184
@anmolsachan @r0h4n Please did you look to the attached configuration and logs? As I don't believe it happened every time even on the previous version.
I'll try that with newer one when possible.

[2017-06-06 06:18] dahorak opened #202 "unify building process with the other packages"
Rest of the Tendrl packages are prepared for build by following commands:
[code]
but for _api_ we have to use this:
[code]
It would be great (from automation/CI perspective) if the workflow will be similar/the same as for the rest of the Tendrl packages.

[2017-06-06 13:58] ltrilety commented on #184
As expected it works fine on new build.

Tested packages:
tendrl-node-agent-3.0-alpha.7.el7scon.noarch
tendrl-commons-3.0-alpha.7.el7scon.noarch
tendrl-performance-monitoring-3.0-alpha.4.el7scon.noarch
tendrl-api-3.0-alpha.3.el7scon.noarch
tendrl-api-httpd-3.0-alpha.3.el7scon.noarch
tendrl-dashboard-3.0-alpha.3.el7scon.noarch
tendrl-alerting-3.0-alpha.2.el7scon.noarch
tendrl-api-doc-3.0-alpha.3.el

[2017-06-08 17:56] mbukatov commented on #197
@fbalak try to ping @anivargi via irc or slack

[2017-06-09 08:13] r0h4n commented on #197
@fbalak `conf_overrides`  is not used right now in Tendrl CreateCluster, the definitions [0] need to be edited to remove the same.

`conf_overrides` is a way in which you can pass sds specific configuration (global) which will be added to the sds conf files (eg: ceph config file or gluster conf). But we have decided to keep it simple and not allow `conf_overrides` till we get the basics right.

[2017-06-09 08:13] anivargi commented on #197
The `node_identifier` takes two possible inputs `ip` or `uuid`.
- `ip` address is the ip of the host machine
- `uuid` is the node_id which you can retrieve form GetNodeList

The reason for adding the support for the `ip` parameter is making the GetNodeList call optional.

Regarding the `provisioning_ip`, is the same as the above mentioned ip option.

[2017-06-09 08:30] mkudlej commented on #197
@r0h4n @anivargi Thank you for responses. Could you please change documentation according these comments?

[2017-06-09 09:17] #117 closed

[2017-06-14 10:19] shtripat opened #206 "The service tendrl-api should start automatically on reboot of node"

[2017-06-16 06:38] shtripat commented on #206
PR merged

[2017-06-16 06:38] #206 closed

[2017-06-16 12:51] dahorak opened #209 ""make snapshot" target for building packages from develop branch"
`make snapshot` target is not implemented and because of that the build trigger jobs are failing:
https://ci.centos.org/view/tendrl-build/job/tendrl-build-1-develop-api/

It would be good if it will be possible to build _snapshot_ version package (usable mainly for packages from develop and prospectively from feature branches).

[2017-06-21 07:00] fbalak commented on #140
It seems resolved. --> closing
Tested with:
tendrl-alerting-1.4.2-1.el7.centos.noarch
tendrl-api-1.4.2-1.el7.centos.noarch
tendrl-api-httpd-1.4.2-1.el7.centos.noarch
tendrl-commons-1.4.2-1.el7.centos.noarch
tendrl-dashboard-1.4.2-1.el7.centos.noarch
tendrl-node-agent-1.4.2-1.el7.centos.noarch
tendrl-performance-monitoring-1.4.2-1.el7.centos.noarch

[2017-06-21 07:00] #140 closed

[2017-06-21 08:31] mbukatov commented on #42
@wrabcak We were talking about a new feature proposal to address issue of handling booleans during package removal some time ago, but I can't find the documentation for it now. Could you find me a link to it?

[2017-06-21 10:59] wrabcak commented on #42
@mbukatov
https://fedoraproject.org/wiki/SELinux/IndependentPolicy#Setting_Booleans_During_an_Product_Policy_Installation

[2017-06-23 16:49] mbukatov opened #216 "tendrl-api service listens on all interfaces by default"
Description of the problem
=====================

Service tendrl-api listens on all network interfaces by default, but the design of the Tendrl stack requires the api service to be available just on localhost: the requests from the outside are handled/routed through via actual web server (httpd).

Affected Version
=============

tendrl-api-1.4.2-1.el7.centos.noarch

Steps to reproduce
============

[2017-06-23 16:57] mbukatov commented on #200
this has been resolved by merging https://github.com/Tendrl/api/pull/201

[2017-06-23 16:57] #200 closed

[2017-06-23 17:34] mbukatov opened #217 "What should we do with ServerName value in /etc/httpd/conf.d/tendrl.conf?"
Right now, we have a [`ServerName`](https://httpd.apache.org/docs/2.4/mod/core.html#servername) defined with the following default value along with this comment in `/etc/httpd/conf.d/tendrl.conf`:

[code]

Could we check this again while keeping the fact that this is the default configuration provided by `tendrl-api-httpd` package (required for both api and web interface) in mind and chose one of:

[2017-06-23 18:01] mbukatov opened #218 "Package tendrl-api-doc needs tweaking"
Package with api documentation `tendrl-api-doc` contains files which are already packaged somewhere else without explanation which would be helpful in rpm installed product context.

This unfortunately means that the doc package provides no value for the user in it's current form.

Details of the problem
=================

[code]

Rakefile is the same as in `tendrl-api` package (what is the purpos

[2017-06-26 12:05] mbukatov opened #219 "Task details page provides incomplete information because of empty data from /api/1.0/jobs/<id>/messages/ call"
## Description

When *CreateCluster* task details are reviewed few days after creation of the task, I don't see any details for the tasks (Events table) in the web ui anymore. At first sight this looks like a dashboard (ui) problem, but the root cause seems to be in empty data provided by backend/api.

## Version

On Tendrl Server machine:

[code]

## Reproducer

1. Install Tendrl Server using ten

[2017-06-26 13:09] mbukatov opened #220 "Data provided by api are not fully encoded in json format, lists are formatted in an escaped strings"
Response for `GetNodeList` call is not fully encoded in json format: sometimes data is provided as a single string value when it should be encoded just as a list of strings instead.

This means that sometimes, one needs to manually parse string values into list of strings to get sense of the data, and sometimes one can just consume the list as expected.

## Version

[code]

## Reproducer

1. Insta

[2017-06-26 16:31] mbukatov opened #221 "New entity is not present in the api replies for some time after it's create task finished"
New entity (such as cluster, brick, volume, ...) is not immediately present in api replies when asking for list of such entities (list clusters, bricks, volumes ...). It actually takes some time after related create task finished for the new entity to appear.

Please note that this problem is generic, and affects all entities such as pools, rbds, files shares, bricks, volumes and so on.

The root

[2017-06-27 06:12] shtripat opened #222 "Network details required in cluster listing output"
`GetClusterList` api should list the `public_network` and `cluster_network` details as well.
This is required, because while expand cluster with additional nodes, these details need to be passed, and UI should filter the nodes which have the same public and cluster networks for expand flow.

[2017-06-27 08:26] shtripat commented on #222
Individual module issues

Commons: https://github.com/Tendrl/commons/issues/630

[2017-06-27 13:07] anivargi opened #225 "Add public_network and cluster_network to cluster list"

[2017-06-27 13:30] #225 closed

[2017-06-28 11:47] fbalak opened #227 "cluster import fails and there are no messages after it fails"
Gluster cluster import fails and there are no messages after it fails. It is the same as https://github.com/Tendrl/api/issues/219
Reproducer:
1. Install tendrl and create gluster cluster from 4 nodes outside of tendrl
2. restart all nodes
3. start `glusterd` service
4. create `GlusterImportCluster` job from the cluster via UI
5. job fails without messages

`/var/log/messages` from gluster nodes an

[2017-06-28 13:23] fbalak opened #228 "documentation - describe Bricks Mapping"
I do not understand from documentation what is [Bricks Mapping](https://github.com/Tendrl/api/blob/develop/docs/bricks.adoc) doing. Could there be described what Bricks Mapping does and what can be achieved? What {"67afa32d-883b-45f3-b331-bc96ecd010ba":null} in API call means? What are hostnames in job output?

[2017-06-28 13:36] mbukatov commented on #227
@fbalak could you add a package versions?

[2017-06-28 13:49] fbalak commented on #227
@mbukatov done

[2017-06-28 14:00] shtripat commented on #228
@nnDarshan ^^^

[2017-06-29 12:17] r0h4n commented on #221
1) For objects inside a cluster (like pool, volume, rbd), Tendrl will now not mark the CRUD job as finished until the CRUD has actually happened on the SDS

2) For Create Cluster and other day 1 flows like import, expand. Here is the tracking bug where this issue will be fixed https://github.com/Tendrl/commons/issues/642

[2017-07-04 11:26] TimothyAsir commented on #209
Why don't you update the version with current date and time and use make rpm.
Why you want to use make snapshot which will give you a random version number.

[2017-07-04 11:39] mbukatov commented on #209
The point here is to achieve unification of the build process for all tendrl packages, so that we can move on and build ci jobs on top of that, as has been agreed on. As far as I know, only dashboard and api packages out of all tendrl packages doesn't implement this.

[2017-07-04 13:14] TimothyAsir commented on #209
Agree!, Are you ok with the release version format to %m_%d_%Y_%H_%M_%S.
So that the existing packages in the repo will not get disturbed.
Currently we are using the release format as "%m_%d_%Y_%H_%M_%S only for our builds.

[2017-07-04 13:50] TimothyAsir commented on #202
https://github.com/Tendrl/api/pull/229 fix will this issue

[2017-07-11 08:23] dahorak commented on #209
I have two points related to the version format:
1) I think the order "Month, Day, Year.." is not the best one, as it is not properly sortable. Better way would be Year, Month, Day... ("%Y_%m_%d_%H_%M_%S").
2) `make snapshot` in other Tendrl packages create version based on git revision hash, which is good, because without that, it is hardly possible to link the particular build with particular so

[2017-07-11 12:47] fbalak opened #230 "documentation - difference between node_configuration for ExpandCluster and CreateCluster"
In [documentation](https://github.com/Tendrl/api/blob/master/docs/clusters.adoc) I see that in `node_configuration` attribute for `CreateCluster` API call are used ip addresses for node identification (`"10.0.0.1":{"role": "glusterfs/node",
"provisioning_ip":"10.0.0.1"}`) and in `ExpandCluster` API call is used node_id (`"867d6aae-fb98-4060-9f6a-1da4e4988db8":{"role":"glusterfs/node","provisioning

[2017-07-17 07:04] gnehapk opened #231 "Add a API endpoint to provide current logged in users details"

[2017-07-21 08:50] #8 closed

[2017-07-21 08:50] #23 closed

[2017-07-21 08:50] #26 closed

[2017-07-21 08:50] #28 closed

[2017-07-21 08:50] #31 closed

[2017-07-21 08:50] #32 closed

[2017-07-21 08:50] #36 closed

[2017-07-21 08:50] #39 closed

[2017-07-21 08:50] #40 closed

[2017-07-21 08:50] #41 closed

[2017-07-21 08:50] #44 closed

[2017-07-21 08:50] #51 closed

[2017-07-21 08:50] #53 closed

[2017-07-21 08:50] #54 closed

[2017-07-21 08:50] #55 closed

[2017-07-21 08:50] #57 closed

[2017-07-21 08:50] #58 closed

[2017-07-21 08:50] #59 closed

[2017-07-21 08:50] #60 closed

[2017-07-21 08:50] #61 closed

[2017-07-21 08:50] #70 closed

[2017-07-21 08:50] #77 closed

[2017-07-21 08:50] #97 closed

[2017-07-21 08:50] #129 closed

[2017-07-21 08:50] #133 closed

[2017-07-21 08:52] #42 closed

[2017-07-21 08:52] #46 closed

[2017-07-21 08:52] #56 closed

[2017-07-21 08:52] #81 closed

[2017-07-21 08:52] #87 closed

[2017-07-21 08:52] #105 closed

[2017-07-21 08:52] #119 closed

[2017-07-21 08:52] #123 closed

[2017-07-21 08:52] #125 closed

[2017-07-21 08:52] #126 closed

[2017-07-21 08:52] #132 closed

[2017-07-21 08:52] #134 closed

[2017-07-21 08:52] #135 closed

[2017-07-21 08:52] #139 closed

[2017-07-21 08:52] #153 closed

[2017-07-21 08:52] #154 closed

[2017-07-21 08:52] #155 closed

[2017-07-21 08:52] #158 closed

[2017-07-21 08:52] #159 closed

[2017-07-21 08:52] #168 closed

[2017-07-21 08:52] #172 closed

[2017-07-21 08:52] #184 closed

[2017-07-21 08:53] r0h4n commented on #216
@anivargi please take a look at this one

[2017-07-21 08:54] #197 closed

[2017-07-21 08:54] #219 closed

[2017-07-21 08:54] #221 closed

[2017-07-21 08:54] #222 closed

[2017-07-21 08:54] #227 closed

[2017-07-21 08:54] #228 closed

[2017-07-21 08:54] #230 closed

[2017-07-21 08:56] mbukatov commented on #81
Why was this closed? Btw last week, @anivargi told me that we plan to fix issues such as https://github.com/Tendrl/documentation/issues/70 so I don't see any reason not to include this one in the polishing as well

[2017-07-21 13:58] mbukatov commented on #219
@Tendrl/qe we need to check that a similar issue is not affecting import cluster operation

[2017-07-21 14:01] mbukatov commented on #31
@mkudlej do we need to reevaluate this to check if the problem here is still relevant after rescope?

[2017-07-21 14:04] mbukatov commented on #51
this is still valid, and I would need to include this in my resurrection of tendrl docs ...

[2017-07-21 14:05] mbukatov commented on #46
fixed by https://github.com/Tendrl/api/commit/f6975ef102c2652069f8c87928f46d5693e29983

[2017-07-21 14:08] mbukatov commented on #227
@fbalak is it ok that this issue has been closed?

[2017-07-21 14:11] mbukatov commented on #221
Based on the information in previous comment and details in related issue https://github.com/Tendrl/commons/issues/642, the design problem described there is expected to be fixed now.

[2017-07-21 14:13] fbalak commented on #227
@mbukatov I haven't encounter this issue for some time. If I find it I will ask to reopen this again.

[2017-07-21 15:24] mbukatov commented on #129
@fbalak could you recheck if this is still relevant?

[2017-07-24 05:21] anivargi opened #233 "Remove monitoring API proxy code"
The monitoring code is not not needed as we are moving towards Grafana+Graphite based integration for displaying monitoring data

[2017-07-26 11:48] gnehapk opened #234 "cluster list API should list all the clusters which are already imported and ready to import"

[2017-07-27 12:01] TimothyAsirJeyasing commented on #209
Tendrl/specifications#178

[2017-08-04 11:29] mbukatov commented on #209
This issue can be closed.

[2017-08-07 09:44] r0h4n commented on #234
Is this done @anivargi @gnehapk ?

[2017-08-07 09:45] r0h4n commented on #233
Is this done @anivargi ?

[2017-08-07 09:45] r0h4n commented on #231
Is this done @anivargi @gnehapk

[2017-08-08 05:53] #209 closed

[2017-08-08 05:53] r0h4n commented on #216
@anivargi can you atleast provide a update here?

[2017-08-08 05:53] #202 closed

[2017-08-08 05:54] r0h4n commented on #220
@anivargi is this done?

[2017-08-08 05:54] r0h4n commented on #218
@anivargi please respond to this

[2017-08-08 05:55] r0h4n commented on #217
@anivargi please respond to this

[2017-08-08 05:55] r0h4n commented on #115
@TimothyAsirJeyasing Are you done with this issue?

[2017-08-08 07:06] anivargi commented on #233
@r0h4n No, not yet, but will be part of next release.

[2017-08-08 07:07] anivargi commented on #234
@r0h4n No, we need to discuss this, and understand the new etcd attributes for cluster

[2017-08-08 07:07] anivargi commented on #231
@r0h4n No, will be part of next release.

[2017-08-10 14:01] a2batic opened #238 "Disable a Tendrl User"
According to the [mockup](https://redhat.invisionapp.com/share/KNB25OEQT#/screens/226063808), there is a functionality of enabling and disabling user.

tendrl-ui-bug-id: https://github.com/Tendrl/ui/issues/556

[2017-08-14 17:54] mbukatov commented on #234
Here is a quick unsolicited update on this, but I hope it will be useful.  Bear in mind that it's is based on playing with `tendrl-api-1.5.0-1.el7.centos.noarch`.

I have noticed that reply of `GetNodeList` API call contains some list of clusters already (among lot of other things actually ...):

[code]

So in this case, I see a cluster ready to be imported (but the question is if this information

[2017-08-17 10:56] mbukatov commented on #219
I see this again with `tendrl-api-1.5.0-1.el7.centos.noarch`.

![screenshot_20170817_124924](https://user-images.githubusercontent.com/4759819/29408995-9f36eef2-834a-11e7-9f1e-4ece916db85e.png)

@r0h4n why did you close this issue without any explanation?

[2017-08-18 09:17] brainfunked commented on #219
Messages and task details are not kept for more than a default TTL of 2 days. How many days have you checked after?

[2017-08-18 09:51] mbukatov commented on #219
@brainfunked The cluster was imported on 14th and I noticed that the details are missing on 17th, so it was 3 days later. If that's the expected behavior, it would be good to make this clear both in documentation and in the ui.

[2017-08-22 15:39] mbukatov opened #245 "Strage traceback (NoMethodError: undefined method `stop' for nil:NilClass) during tendrl-ansible driven installation of Tendrl"
## Description

When I install last stable [Tendrl release (version 1.5.0)](https://github.com/Tendrl/documentation/wiki/Tendrl-release-v1.5.0-(summary)) using [tendrl-ansible (current master tailored for 1.5.0)](https://github.com/Tendrl/tendrl-ansible/tree/0a09c863a8cfbc610d559900b318cd576890ddd1), I see strange errors in tendrl-api logs.

## Version

Tendrl 1.5.0 on CentOS Linux release 7.3.161

[2017-08-22 15:42] mbukatov commented on #245
I will check if this can be reproduced with current builds from master branch (upcoming next milestone) during work on https://github.com/Tendrl/tendrl-ansible/issues/23

[2017-08-24 03:13] nthomas-redhat opened #248 "/api/1.0/clusters/<cluster_id>/import API doc requires update"
Doc says { "enable_volume_profiling": "yes" } is the paramaeter to be passed. But it should be { "Cluster.enable_volume_profiling": "yes" }

[2017-08-24 03:20] nthomas-redhat commented on #248
Or this should be handled by API internally?

[2017-08-24 04:16] anivargi commented on #248
@nthomas-redhat the API directly updates etcd, so just `"enable_volume_profiling": "yes"` is enough.

[2017-08-24 04:19] anivargi commented on #248
Sorry got confused, @nthomas-redhat I think the UI needs to send it as you mentioned for import, but I have mentioned for how individually it needs to be updated

[2017-08-28 09:51] brainfunked opened #249 "Endpoint for exposing cluster specific host information for hosts in a cluster"
This issue is related to the discussion on https://github.com/Tendrl/ui/issues/534.

[The hosts list view](https://redhat.invisionapp.com/share/2RCOE72PE#/screens/244735173) inside a cluster needs to scale to 128 hosts with 36 bricks each for milestone 3, with the eventual target being 60 bricks per host. Would it make sense to implement an API call which allows fetching of cluster specific host i

[2017-08-29 08:31] gnehapk opened #250 "API call for telling the status import cluster flow"
The Import (Cluster) button is still enabled when Import is in progress for a given cluster.
For this requirement, an API call will be needed which can tell the status import cluster flow i.e. whether its on going or not, so that UI can disable the import button for that cluster.

[2017-08-30 10:21] fbalak opened #251 "API returns string instead of boolean value"
I have added user thardy according to [example in documentation](https://github.com/Tendrl/api/blob/master/docs/users.adoc#create-user). In `POST` data I specified `"email_notifications": true` which should be boolean value but when I call[ hostname/api/1.0/users/thardy as documented](https://github.com/Tendrl/api/blob/master/docs/users.adoc#single-user) I get `"email_notifications": "true"` where

[2017-08-31 07:27] dahorak opened #252 "Configure Webhook for ci.centos.org"
Could you please configure webhook to `https://ci.centos.org/github-webhook/` for this repo, which will trigger package build for each commit in master branch?

_Instruction copied from [1]:_
Add a Webhook to your repository pointing at https://ci.centos.org/github-webhook/
2. On your Github Project page, choose 'Settings'
3. Navigate to the 'Webhooks and Services' tab
4. Choose 'Add a webhook'

[2017-08-31 12:55] r0h4n commented on #252
Done

[2017-08-31 12:55] #252 closed

[2017-09-05 09:15] ltrilety opened #253 "user name"
When adding a new user our API requires names at least 4 characters long.
Sorry Ju or Tim you cannot have an account using your first names :-)
Is it really necessary to have names at least 4 characters long, when we don't require that names has to be unique etc.

[2017-09-05 11:30] gnehapk opened #254 "Separate property name mapped for both first and last name for user"

[2017-09-05 12:06] ltrilety opened #255 "Users should not be able to change role once they are assigned"
User can remove it's admin privileges even when no other admin user left in tendrl.

This cannot be removed using:
[code]
as it just said: `"User named admin already exists."`

[2017-09-05 12:16] mkudlej opened #256 "user can steal session token from another user"
Etcd is not hardened and user can steal another user access token. User can increase his permissions by this if there is logged in user with higher permissions.

Reproducer:
```curl http://_hostname_:2379/v2/keys/_tendrl/access_tokens``` where ```_hostname_``` is FQDN where is Etcd.

etcd-3.1.9-1.el7.x86_64
glusterfs-4.0dev-0.85.gitea48cae.el7.centos.x86_64
glusterfs-api-4.0dev-0.85.gitea48cae.el7

[2017-09-05 12:26] ltrilety opened #257 "Admin user should not be able to delete himself"
User can delete itself.

[2017-09-05 13:47] ltrilety opened #258 "Normal user should not be able to perform user management"
User with Normal (power user) role can create a new user even a new user with admin role.

[2017-09-06 08:14] anivargi commented on #258
@ltrilety we are not addressing this in the upcoming release.
We are sticking to https://github.com/Tendrl/api/blob/master/docs/authorizaton.adoc

[2017-09-06 08:16] anivargi commented on #256
We are depending on the etcd authorization to prevent access to tokens directly.

[2017-09-06 08:16] #256 closed

[2017-09-06 08:17] anivargi commented on #254
@gnehapk We are just using user name as a attribute from the API

[2017-09-06 08:17] #254 closed

[2017-09-06 08:18] anivargi commented on #253
@ltrilety We are not addressing this in the current release

[2017-09-06 08:18] #253 closed

[2017-09-06 08:19] anivargi commented on #257
@ltrilety please clarify what you mean exactly?

[2017-09-06 08:45] mkudlej commented on #256
@anivargi Right now Etcd authentication is not specified in documentation. I think this issue is valid until there is any authentication in Etcd in documentation.

[2017-09-06 08:50] anivargi commented on #256
@mkudlej I think this is a issue which needs to be addressed at the Etcd host level, where only a certain whitelisted IP's can access etcd part from having authentication for Etcd, there is no other way to manage this on the API level.

[2017-09-06 08:57] anivargi commented on #250
`is_managed` state will be No -> Importing -> Yes

[2017-09-06 08:57] #250 closed

[2017-09-06 09:22] anivargi commented on #233
Was fixed part of https://github.com/Tendrl/api/tree/release/1.5.1

[2017-09-06 09:22] #233 closed

[2017-09-06 11:02] ltrilety commented on #257
@anivargi not sure what's here to clarify more. Seems to me that any user should not be able to remove itself. Anyway reproduction steps follows:

1. log as admin - `api/1.0/login` `POST` call, remember allocated access_token
2. delete admin user - `api/1.0/users/admin` DELETE call with access_token from previous step

User is deleted, all open related sessions are terminated.

[2017-09-06 11:15] nthomas-redhat commented on #238
@a2batic , I am closing this issue as we already decided not to implement this.

[2017-09-06 11:15] #238 closed

[2017-09-06 11:23] mkudlej commented on #238
@nthomas-redhat could you please initiate design document change? Is there any link-able discussion?
@julienlim Are you aware of this, please? Do you plan to change design according this decision?

[2017-09-07 08:21] anivargi commented on #258
I misunderstood the issue as normal user should be able to create admin users, so reopening.

[2017-09-07 13:29] mkudlej opened #259 "systemd service file should contain Documentation section"
I think that there should be Documentation section (https://fedoraproject.org/wiki/Packaging:Systemd#Documentation_field) in service file for systemd.

[2017-09-08 08:11] r0h4n opened #262 "Enable ETCD authorization and authentication"
Tendrl API should use ETCD  certificate based auth for any communications with ETCD

https://github.com/coreos/etcd/blob/master/Documentation/authentication.md

Related issue: Tendrl/api#256

[2017-09-08 08:12] r0h4n commented on #256
Related issues (for ETCD cert based auth) are linked to this issue. Once the cert based auth for ETCD is implemented via the linked issues, this issue will be no longer valid.

[2017-09-08 10:12] brainfunked opened #263 "https support for the API"
The API should be able to run over https.

[2017-09-08 20:07] julienlim commented on #238
@Tendrl/qe Yes, I'm aware that enable/disable user is not part of the release.  We can update the design if needed to say future or out of scope.  I'd rather not take it out as it'll probably have to be put back in the design in the future.

@mcarrano - can you please update the design to note that enable/disable user is out-of-scope / FUTURE feature.  Thanks.

[2017-09-08 20:36] mcarrano commented on #238
I placed a note on the wireframe to communicate that this functionality is out of scope and the Status column and related actions should be hidden. See updates here https://redhat.invisionapp.com/share/8QCOEVEY9  on Users page.

[2017-09-11 13:56] ltrilety opened #266 "troubleshoot when import cluster fails"
There should be some troubleshoot guide with instructions what can be done if cluster import is not successful e.g. some node is missing etc.

It will be good if there will be described some way how to remove cluster from tendrl.

[2017-09-11 16:01] julienlim commented on #238
@mcarrano thanks for adding the note.

@Tendrl/qe @Tendrl/tendrl_frontend

[2017-09-13 06:05] anivargi commented on #251
Fixed as part of https://github.com/Tendrl/api/pull/260

[2017-09-13 06:05] #251 closed

[2017-09-13 06:05] anivargi commented on #255
Fixed as part of https://github.com/Tendrl/api/pull/260

[2017-09-13 06:05] #255 closed

[2017-09-13 06:05] #257 closed

[2017-09-13 06:06] anivargi commented on #258
Fixed as part of https://github.com/Tendrl/api/pull/260

[2017-09-13 06:06] #258 closed

[2017-09-13 06:06] anivargi commented on #249
Fixed as part of https://github.com/Tendrl/api/pull/265

[2017-09-13 06:06] #249 closed

[2017-09-13 06:07] anivargi commented on #231
Fixed https://github.com/Tendrl/api/pull/260

[2017-09-13 06:07] #231 closed

[2017-09-13 06:08] anivargi commented on #266
Please add the issue to documentation repo.

[2017-09-13 06:08] #266 closed

[2017-09-13 06:09] anivargi commented on #248
Fixed https://github.com/Tendrl/api/pull/267

[2017-09-13 06:09] #248 closed

[2017-09-13 06:10] anivargi commented on #220
Fixed in https://github.com/Tendrl/api/pull/246

[2017-09-13 06:10] #220 closed

[2017-09-13 06:12] anivargi commented on #234
@mbukatov please refer updated API doc https://github.com/Tendrl/api/blob/master/docs/clusters.adoc#import-cluster

The managed and imported status can be checked using `is_managed` and `import_status` in clusters list view.

[2017-09-13 06:12] #234 closed

[2017-09-13 06:20] ltrilety commented on #266
@anivargi right, documentation issue created https://github.com/Tendrl/documentation/issues/94

[2017-09-13 07:23] dahorak opened #271 "puma - tendrl-api consumes huge amount of memory - possible memory leak?"
Under some circumstances, puma/tendrl-api consumes huge amount of RAM (for example 17GB on system with total of 23GB) and didn't release it.

**Reproducer:**
1. Install and configure Gluster cluster with at least one volume.
1. Install and configure Tendrl server and node agents.
1. Measure the consumed RAM (you might get inspired by following two scripts)
This first script just print time and mem

[2017-09-13 08:38] anivargi commented on #216
Fixed in https://github.com/Tendrl/api/pull/272

[2017-09-13 08:38] #216 closed

[2017-09-13 08:51] dahorak opened #273 "Missing documentation for api call clusters/<CLUSTER-ID>/profiling"
There is no documentation for *clusters profiling* API PUT call:
```http://<TENDRL-SERVER>/api/1.0/clusters/<CLUSTER-ID>/profiling``` with data ```{"enable_volume_profiling":"yes|no"}```

[2017-09-13 09:01] ltrilety opened #274 "Cluster.enable_volume_profiling key error"
API doc says that for import cluster there should be `{"enable_volume_profiling": "yes"}` the same as for enable/disable profiling call. So it seems to be right. However when user tries to import a cluster with this it always fails with error: `KeyError: 'Cluster.enable_volume_profiling'`

[2017-09-13 09:04] shtripat commented on #274
Yes. The parameter name should be `Cluster.enable_volume_profiling`

[2017-09-13 09:59] ltrilety commented on #274
@shtripat I strongly suggest to unify this across all API calls and my humble opinion is that `enable_volume_profiling` looks better.

[2017-09-13 11:57] anivargi commented on #274
Fixed in https://github.com/Tendrl/api/pull/277

[2017-09-13 11:57] #274 closed

[2017-09-13 11:59] TimothyAsirJeyasing opened #278 "Keep the log files in appropriate path"
all api related log should be available at /var/log/tendrl/api

[2017-09-13 12:36] #278 closed

[2017-09-14 09:17] TimothyAsirJeyasing opened #279 "Tendrl services in the server should run in selinux permissive domain"
Currently tendrl packages needs the entire system to run without selinux security.
To avoid allowing the entire system in permissive, Tendrl requires a minimum selinux policy for its services to run in permissive domain in the server.

[2017-09-14 11:59] #279 closed

[2017-09-14 13:40] TimothyAsirJeyasing opened #281 "Fix build error due to missing tendrl conf file"
tendrl.conf file is renamed to tendrl-ssl.conf.sample. This file should be added to files section in the spec file.

[2017-09-15 05:33] nthomas-redhat opened #283 "Tendrl ui is not loading after installaton"
Its re-directing to the default page.

[2017-09-17 17:34] a2batic opened #287 "Read-only users are not able to change profile"
It shows 403 error when a read-only user tries to change profile after logging in.
Tendrl-bug-id: https://github.com/Tendrl/ui/issues/553

[2017-09-18 07:49] cloudbehl opened #288 "Need integration-id in the host list"
@anivargi can you add "integration_Id" in the host list. As it is required by grafana so to launch dashboard from host list to grafana the integration_id will be required.

[2017-09-18 10:24] gnehapk opened #289 "Volumes API is returning incomplete response"
API - clusters/{cluster_id}/volumes is returning incomplete response. Attributes like vol_id and name etc are missing.

API response -

"volumes":[
{
"hash":"9db4f15f5f5c6e7db7e27fc9fbe63980",
"updated_at":"2017-09-18 10:10:37.980344+00:00",
"rebalancedetails":{},
"vol_id":"47d49ca4-9cd8-4453-8b95-42dd513a3ed5"
},

[2017-09-18 10:27] anivargi commented on #283
@nthomas-redhat why is this a API issue?

[2017-09-18 10:29] anivargi commented on #288
@cloudbehl do you mean the API `/nodes` under `cluster` ?

[2017-09-18 10:31] anivargi commented on #289
@shtripat This is the same issue as before, Etcd does not have the volume details, hence the issue.

[2017-09-18 10:39] cloudbehl commented on #288
@anivargi Closing this Issue as the cluster context has the integration id. Thanks

[2017-09-18 10:39] #288 closed

[2017-09-18 10:40] rishubhjain commented on #289
@gnehapk @anivargi Can you pass me the instance id?, may be I can check for volume details and restart gluster-integration to get the volume details in etcd.

[2017-09-18 10:57] anivargi commented on #287
Fixed in https://github.com/Tendrl/api/pull/290

[2017-09-18 10:57] #287 closed

[2017-09-18 11:42] dahorak opened #291 "[selinux] postinstall and postuninstall scripts should not contain `restorecon -Rv /`"
Postinstallation and postuninstallation scripts from following packages ``tendrl-grafana-selinux``, ``tendrl-server-selinux`` should not contain command ``restorecon -Rv /``. Rrestoring SELinux security contexts on whole filesystem will take very long time and might broke something else.

The target path should be more precisely specified just to relevant/affected files, not widely to whole filesy

[2017-09-18 11:57] mkudlej commented on #291
@Tendrl/tendrl-core  I vote for marking this issue as high priority one.

[2017-09-18 12:45] nnDarshan opened #292 "Mark node as down, when node context has no status attribute"
node context and cluster node context object has a status attribute, whose value will be UP if node is up and running. Whenever node goes down, the status attribute will vanish due to ttl set on the attribute.

API should mark the status attribute as DOWN whenever it does not find the status attribute under node context and cluster node context objects.

[2017-09-18 14:42] mbukatov opened #293 "Configuration file /etc/tendrl/etcd.yml with etcd root password is readable for every account"
## Description

Configuration file `/etc/tendrl/etcd.yml` can now contain username and password for etcd admin access, but the file is still packaged as world readable.

## Version

Latest snapshot build from master branch (it's part of [upcoming 1.5.2 version](https://github.com/Tendrl/specifications/milestone/1)):

[code]

## Details

Details including reproducer, actual and expected results are

[2017-09-19 07:38] mbukatov opened #294 "Default configuration file"
## Description

Configuration file `/etc/tendrl/etcd.yml` provided by `tendrl-api` package contains default values of etcd username and password, which needs to be edited both when etcd authentication is enabled and when it's disabled. This makes the configuration more complicated than it needs to be.

This is a blocker for https://github.com/Tendrl/tendrl-ansible/issues/34, and thus for https://g

[2017-09-21 06:55] nnDarshan commented on #292
This is not relevant Closing this

[2017-09-21 06:55] #292 closed

[2017-09-21 07:12] anivargi commented on #273
https://github.com/Tendrl/api/blob/master/docs/clusters.adoc#enable-disable-profiling

[2017-09-21 07:12] #273 closed

[2017-09-21 07:17] anivargi commented on #271
Fixed https://github.com/Tendrl/api/pull/276/files
We have added a puma config to preload app which enables copy on write.

[2017-09-21 07:17] #271 closed

[2017-09-21 07:17] #281 closed

[2017-09-21 07:18] anivargi commented on #289
@gnehapk Is this still a issue?

[2017-09-21 07:19] #294 closed

[2017-09-21 08:01] nthomas-redhat commented on #263
Closing the issue as the code is already in

[2017-09-21 08:01] #263 closed

[2017-09-21 08:03] nthomas-redhat commented on #283
Fix available

[2017-09-21 08:03] #283 closed

[2017-09-21 08:45] r0h4n opened #296 "LICENSE missing for repository"
The code in this repository is not licensed at all. There should not be any further commits to this repository until we have a License (LGPL v2.1)

[2017-09-21 08:55] #296 closed

[2017-09-22 06:58] gnehapk commented on #289
@anivargi It seems to be fixed with the latest build. Closing this issue.

[2017-09-22 06:58] #289 closed

[2017-09-22 15:50] fbalak opened #298 "Can not change user role"
I created users thardy and thardy2. thardy is admin and thardy2 is normal user. I am logged as default admin user.
When I call [Update User API call](https://github.com/Tendrl/api/blob/master/docs/users.adoc#update-user) on user thardy:
[code]
than response is:
[code]
and user role is not changed. Role should be `normal`.

When I call:
[code]
then response is:
[code]
but when I list users than the

[2017-09-22 16:18] fbalak opened #299 "Admin user can not delete another admin user"
I have users admin and thardy. Both are admins. I am logged as admin.
I try to [delete user thardy via API as documented](https://github.com/Tendrl/api/blob/master/docs/users.adoc#delete-user) but the response is `403 Forbidden`. Normal users can be removed. I think that there should be some way how to delete admin users.

Tested with:
tendrl-api-httpd-1.5.2-1.el7.centos.noarch
tendrl-commons-1.5.

[2017-09-22 16:18] fbalak commented on #251
It seems to work.
Tested with:
tendrl-api-httpd-1.5.2-1.el7.centos.noarch
tendrl-commons-1.5.2-1.el7.centos.noarch
tendrl-api-1.5.2-1.el7.centos.noarch
tendrl-ui-1.5.2-1.el7.centos.noarch
tendrl-node-agent-1.5.2-1.el7.centos.noarch
tendrl-monitoring-integration-1.5.2-1.el7.centos.noarch
tendrl-grafana-plugins-1.5.2-1.el7.centos.noarch
tendrl-notifier-1.5.2-1.el7.centos.noarch

[2017-09-22 16:26] fbalak opened #300 "Internal Server Error when user does not exist"
If I use API calls as documented for user [deletion](https://github.com/Tendrl/api/blob/master/docs/users.adoc#delete-user) or [update](https://github.com/Tendrl/api/blob/master/docs/users.adoc#update-user) on user that does not exist then the response from server is `500 Internal Server Error`. Response should be `404 Not Found`.

Tested with:
tendrl-api-httpd-1.5.2-1.el7.centos.noarch
tendrl-com

[2017-09-23 09:06] r0h4n opened #301 "Required: Internal profiling for tendrl-api"
Similar to profiling Tendrl backend services https://github.com/Tendrl/documentation/wiki/Tendrl-profiling

It is time we start internal profiling the tendrl-api  (eg: Number of function calls, average time per call etc etc)

Eg: https://github.com/ruby-prof/ruby-prof

[2017-09-25 06:45] nthomas-redhat commented on #298
@anivargi , I think what we discussed earlier was to not allow the user role change

[2017-09-25 12:07] mbukatov opened #302 "Sample SSL configuration redirects to ip address"
## Description

Suggested SSL configuration based on example `/etc/httpd/conf.d/tendrl-ssl.conf.sample` as described in https://github.com/Tendrl/api/pull/264 redirects http requests to https using ip address.

Based on @dahorak 's feedback: https://github.com/Tendrl/tendrl-ansible/pull/46#discussion_r140742360 and today's *A daily meeting of Tendrl developers*.

## Version

Recent snapshot build

[2017-09-25 12:09] fbalak commented on #106
I think that this issue should be open. It doesn't seem right to send `password_confirmation` parameter via api during user creation. Check for same passwords should be done on the frontend side.

[2017-09-25 12:21] mbukatov commented on #302
@r0h4n @brainfunked @dahorak so far this seems to me to be a minor configuration change (affecting the default config sample and tendrl-ansible), what do you think?

[2017-09-25 12:23] mbukatov commented on #302
I have tried to reconfigure the redirection using fqdn:

[code]

and at first sight, it seems to work fine for me:

![screenshot_20170925_141541](https://user-images.githubusercontent.com/4759819/30808138-216db56a-a1fd-11e7-9c50-1cafb5f05a9d.png)

[2017-09-25 13:36] mbukatov opened #303 "Grafana Dashboards are not using SSL when SSL is configured for Tendrl"
## Description

When SSL is configured as described in https://github.com/Tendrl/api/pull/264,  based on example `/etc/httpd/conf.d/tendrl-ssl.conf.sample` file, Grafana dashboards are still served via unencrypted http connection.

## Version

Recent snapshot build from master branch:

[code]

Versions of all related Tendrl packages for full reference:

[code]

## Steps to Reproduce

1. Prepare ma

[2017-09-26 08:08] mbukatov commented on #293
Package `tendrl-api-1.5.2-20170921T125939.61d8945.noarch` is still affected.

[2017-09-26 08:22] mbukatov commented on #245
Rechecking with `tendrl-api-1.5.2-20170921T125939.61d8945.noarch`, when I have installed tendrl and imported cluster and I don't see the stack traces any more:

[code]

[2017-09-26 08:26] mbukatov commented on #245
Based on verification described in previous comment, I'm closing the issue.

[2017-09-26 08:26] #245 closed

[2017-09-26 08:29] anivargi commented on #299
@fbalak Admin users cannot be deleted by other admin users.

[2017-09-26 08:30] #299 closed

[2017-09-26 08:31] anivargi commented on #298
@nthomas-redhat Yes.
@fbalak Updating role of existing user is not allowed.

[2017-09-26 08:31] #298 closed

[2017-09-26 09:36] anivargi commented on #303
moved to https://github.com/Tendrl/monitoring-integration/issues/144

[2017-09-26 09:36] #303 closed

[2017-09-26 09:43] ltrilety commented on #298
@anivargi Actually the idea was that user cannot change the role for himself/herself.

[2017-09-26 09:47] ltrilety commented on #299
@anivargi in other words admin users cannot be deleted. That's very strange behavior. I remember that there was an issue when user can remove himself/herself and so delete the last admin user, but that's it. No requirement which rejects deletion of any admin user.

[2017-09-26 10:55] anivargi commented on #299
@ltrilety That is the scope for this release, admin users cannot delete admin users.

Regarding roles, we have limited updating any roles by any user.

[2017-09-26 11:42] mbukatov commented on #293
@sidhax this seems like security related issue

[2017-09-26 11:46] mbukatov commented on #119
@sidhax this seems like security related issue, it requires at least a good description of auth. implementation in documentation

[2017-09-26 12:24] mbukatov commented on #303
@sidhax this seems like security related issue

[2017-09-26 15:13] mbukatov commented on #217
This should be addressed along with https://github.com/Tendrl/tendrl-ansible/issues/30 (SSL setup), so that there are no error prone unnecessary differences between http and https setup.

[2017-09-26 17:15] brainfunked commented on #302
@mbukatov your solution is good, please use it.

[2017-09-27 08:04] mbukatov commented on #302
@brainfunked ack

[2017-09-27 19:55] mbukatov commented on #303
At first sight, the natural approach here seems to me to reconfigure apache to provide grafana (via reverse proxy). I could be wrong though.

That said, I would like to see list of pros and cons of each approach before settling with particular solution.

[2017-10-03 16:19] mbukatov commented on #302
Fix is part of https://github.com/Tendrl/tendrl-ansible/pull/46

[2017-10-05 12:54] fbalak opened #306 "List Clusters API call returns Internal Server Error after installation"
I have cluster with 4 nodes. I have installed tendrl and after all was installed I had to wait about 2 minutes before I was able to use tendrl ui because [List Clusters API call](https://github.com/Tendrl/api/blob/master/docs/clusters.adoc#list-clusters) was returning `500 Internal Server Error`. Most of other API calls were working correctly. (I was able to log in and navigate through sites)

Aft

[2017-10-05 15:39] mbukatov opened #307 "support for etcd client-server tls authentication"
Since [we are planning to use](https://github.com/Tendrl/documentation/wiki/Tendrl-with-a-secure-etcd-cluster) [etcd client-server tls authentication](https://coreos.com/etcd/docs/latest/op-guide/security.html), we need to add support of this into tendrl-api as well.

This will require to add new configuration options for:

* etcd_ca_cert_file (for /path/to/ca_cert_file.pem)
* etcd_cert_file (for

[2017-10-07 12:17] anivargi commented on #307
https://github.com/Tendrl/api/pull/310

[2017-10-07 12:25] anivargi commented on #306
@fbalak It would be really helpful if you can provide the API logs when it was in error state.

[2017-10-09 07:35] fbalak commented on #306
@anivargi Sure, here is `/var/log/messages` from server where the api is run:
[messages-server.txt](https://github.com/Tendrl/api/files/1367766/messages-server.txt)
If you want access to the machine, I can grant it to you if you send me ssh public key.

[2017-10-09 07:52] anivargi commented on #306
@fbalak can you share `/var/log/tendrl/api/error.log`

[2017-10-09 07:57] fbalak commented on #306
@anivargi here:  [error.log](https://github.com/Tendrl/api/files/1367810/error.log)

[2017-10-09 09:15] dahorak opened #311 "Disable profiling when importing cluster doesn't work."
Import Gluster cluster into Tendrl with Disabled Volume Profiling doesn't work correctly.

Once the cluster is imported, profiling should be disabled on all volumes, but it is enabled, so the check box *Enable Volume profiling* on *Import Cluster page* doesn't work.

For more information, check following two comments https://github.com/Tendrl/gluster-integration/issues/405#issuecomment-335092835 a

[2017-10-09 10:14] anivargi commented on #311
Fix is part of the UI https://github.com/Tendrl/ui/commit/ae50ca35719e171e7b14696c8eca42943d40b451

[2017-10-09 10:14] #311 closed

[2017-10-09 13:51] anivargi commented on #306
@r0h4n @shtripat  looks like `TendrlContext` is temporarily empty even if the `cluster_id` is present, which causes the API to fail, I can add a check for that, but does this need to be handled by the backend?

[2017-10-10 06:06] r0h4n commented on #306
Assuming you have not imported this cluster, tendrl-node-agent will start syncing all the data after the default "sync_interval" (as given in node-agent.conf.yaml)

If the cluster is a Tendrl managed cluster, then we need to investigate further.

[2017-10-10 13:49] #307 closed

[2017-10-10 13:49] anivargi commented on #301
https://github.com/Tendrl/api/pull/305

[2017-10-10 13:49] #301 closed

[2017-10-10 13:59] anivargi commented on #300
https://github.com/Tendrl/api/pull/314

[2017-10-11 07:06] #300 closed

[2017-10-11 07:07] anivargi commented on #306
@fbalak

[2017-10-11 08:01] mbukatov commented on #291
This issues will be addressed during my work on moving selinux code into single repository tendrl-selinux.

[2017-10-11 08:28] gnehapk opened #315 "API response for CPU, memory and storage utilisation in the hosts list view"

[2017-10-11 08:50] r0h4n commented on #291
@TimothyAsir What is the update on this issue?

[2017-10-11 09:54] TimothyAsirJeyasing commented on #291
We are planning to move the Selinux package build script and the policy int separate repo that will take care of these issues.

[2017-10-11 10:18] TimothyAsirJeyasing commented on #218
The main intention of this package into TENDRL is to provide a sample documentation about how to use and the useful configuration. As of now we dont have any examples are any specific configuration for fine tuning. If its really not required or might not useful in feature enhancements we can remove this package.
@anivargi Please share your views.

[2017-10-11 10:26] TimothyAsirJeyasing commented on #259
We will use the URL (https://github.com/Tendrl/api) in the documentation field.

[2017-10-11 10:29] TimothyAsirJeyasing commented on #115
@r0h4n Sure, The patch already exists at https://github.com/Tendrl/api/pull/188. I will send to master branch

[2017-10-11 11:04] anivargi commented on #293
@mbukatov we don't have support for username and password based etcd auth anymore, is this still relevant?

[2017-10-11 11:06] anivargi commented on #218
We don't have any specific doc that can be part of tendrl-api-doc, we can add this when we have proper useful documentation in the future.

[2017-10-11 11:06] anivargi commented on #291
@dahorak can we close this?

[2017-10-11 11:13] mbukatov commented on #293
@anivargi that is true, the support for password authentication has been removed, but now I see an option to provide passphrase (I guess that it's a passphrase for the ssl private key, right?), so it seems to me that it is still relevant.

[2017-10-11 11:14] mbukatov commented on #291
I will close this when my work on tendrl-selinux repo is done.

[2017-10-11 19:56] GowthamShanmugam opened #317 "Unable to start tendrl-api using client CA certificates in SSLConnection"
Oct 11 19:44:47 dhcp42-122.lab.eng.blr.redhat.com systemd[1]: Started Tendrl Api Daemon.
Oct 11 19:44:47 dhcp42-122.lab.eng.blr.redhat.com systemd[1]: Starting Tendrl Api Daemon...
Oct 11 19:44:48 dhcp42-122.lab.eng.blr.redhat.com puma[11306]: [11306] Puma starting in cluster mode...
Oct 11 19:44:48 dhcp42-122.lab.eng.blr.redhat.com puma[11306]: [11306] * Version 3.6.0 (ruby 2.0.0-p648), codename:

[2017-10-11 19:57] GowthamShanmugam commented on #317
@anivargi @r0h4n @nthomas-redhat

[2017-10-12 07:21] mbukatov commented on #317
We need to find out whether this error have a different root cause compared to the issue which I shared yesterday on tendrl-devel channel.

[2017-10-12 08:52] anivargi commented on #317
Fixed in https://github.com/Tendrl/api/pull/318

[2017-10-12 08:52] #317 closed

[2017-10-12 08:55] a2batic opened #319 "No status attribute in clusterlist API for nodes that are down"
Tendrl-ui-bug-id: https://github.com/Tendrl/ui/issues/664

[2017-10-12 09:07] anivargi commented on #319
Fixed in https://github.com/Tendrl/api/pull/320

[2017-10-12 09:07] #319 closed

[2017-10-12 11:53] fbalak commented on #306
@anivargi @r0h4n I have been testing this and from the UI point of view it looks good now:
![1012_cluster_error](https://user-images.githubusercontent.com/22369801/31494447-9e7f4d12-af53-11e7-8384-cd78e96197aa.png)
I am just concerned that the API call still returns `500 Internal Server Error` and it provide no information for user about what is happening. If we know where the problem is in the ba

[2017-10-13 08:22] fbalak commented on #300
Ok.
Tested with:
[code]

[2017-10-17 08:03] dahorak opened #324 "Volume names missing in response to api call clusters/<CLUSTERID>/volumes"
Sometime volume name is not visible in the list of volumes in Tendrl web UI and also not present in the response to API call `clusters/<CLUSTERID>/volumes`.

![tendrl_cluster_volumes_missing_volume_name](https://user-images.githubusercontent.com/4759779/31652840-d0cd13d2-b320-11e7-968e-7c9fd241e3e1.png)

```GET http://server.example.com/api/1.0/clusters/12353d78-fe6a-42dc-827a-ff887c0a2802/volumes

[2017-10-17 08:33] shtripat commented on #324
Looking at the API response, looks like volume sync is not yet done and not all the volume attributes are available yet. I would suggest to verify with etcd as well once if all the values are already present.

This might happen (as I have observed) in case the cluster import was done and first round of cluster data sync is not yet over. It might be a transient state and once all the volume details

[2017-10-17 09:07] dahorak commented on #324
@shtripat The cluster is running for few hours already, so there is probably some problem with the syncing process.
@mbukatov spotted the same issue now, but with no specific reproduction steps.

[2017-10-17 10:24] shtripat commented on #324
@dahorak please share the setup details for further debugging.
Also I would suggest to check `/var/log/messages` on provisioner node from storage nodes and look for `ERROR` and `Exception`.

[2017-10-23 13:28] fbalak commented on #306
After discussion with @dahorak we came to conclusion that there should not be any 5xx error. It would be best to return not entirely imported cluster in response and add some loading API attribute that would be reflected in UI but It would also make sense to return code [202 Accepted](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_Success) and return empty list.

[2017-10-24 14:29] mbukatov commented on #218
@anivargi does this mean that we are going to drop tendrl-api-doc package until we have something interesting to put there? I'm asking because in the [last snapshot build](https://copr-be.cloud.fedoraproject.org/results/tendrl/tendrl/epel-7-x86_64/00628303-tendrl-api/) I still see the doc package.

[2017-10-26 12:31] julienlim commented on #324
@dahorak @mbukatov @shtripat I've had my deployment running for almost 24 hours, and still the volume name is missing.  I don't think data sync should take 24 hours.  My tendrl environment is based on the 1.5.3 release (which tendrl-ansible 1.5.3 is pulling from).

[2017-10-26 14:01] shtripat commented on #324
@julienlim I had tested with release branch as well. I would suspect that either gluster-integration is down on some storage nodes or some errors while cluster data sync in gluster-integration. Please share the setup detail in a mail for further debugging. In the same time you can check if gluster-integration is running on all the nodes and also check `/var/log/messages` for any errors on storage

[2017-10-26 16:13] julienlim commented on #324
@shtripat I have confirmed that gluster-integration is running on all the storage nodes.

Please advise which files/logs, etc. you would like and I can email them over to you.  Thanks.

[2017-10-31 18:34] mbukatov commented on #306
I searched in the design documents and the ui design doesn't anticipate with any delay in detection of the cluster for import: https://redhat.invisionapp.com/share/8QCOEVEY9#/screens/244820318

@julienlim How would you suggest to address this delay in cluster detection? Would the notification as suggester be ok?

[2017-10-31 18:36] mbukatov commented on #306
@fbalak @dahorak I don't think that returning 202 Accepted makes sense, as the cluster detection is not triggered by `clusters` api call.

[2017-10-31 18:39] mbukatov commented on #306
@fbalak I disagree with your description in https://github.com/Tendrl/api/issues/306#issuecomment-336105767 - showing spinner during cluster detection looks much more reasonable compared current 500 status code which is ignored by the ui.

[2017-11-01 13:27] dahorak commented on #306
@mbukatov I agree with you, I suggested @fbalak 200 OK with empty clusters list (if it is not possible to mark cluster as not fully detected).

[2017-11-01 13:54] julienlim commented on #306
Current takeaway on answers we need to the following questions:

- How to convey the information about the ongoing detection on the api level
- How to show this ongoing detection in the UI; it would need be clear for a first time user as well.  Note: Troubleshooting section in documentation should also mention / address this.

@Tendrl/tendrl-qe @rghatvis@redhat.com @mcarrano @julienlim

[2017-11-01 14:00] mbukatov commented on #306
Thinking about my previous suggestion to use notification: sending notification that tendrl is detecting a cluster makes sense from backend perspective, but could we use this notification to control when to show spinner in the ui?

[2017-11-01 14:07] r0h4n commented on #306
- Tendrl can provide notifications as to whenever cluster detection is in progress or is complete. It can also set a "detection_in_progress" flag (per node since we havent detected any cluster yet).

[2017-11-02 07:50] anivargi opened #326 "Add alert counters to nodes and clusters API"

[2017-11-02 09:23] shtripat commented on #324
@julienlim as discussed earlier over chat there are some fixes around TTL for the volumes has gone in and we need to test with latest master.

[2017-11-02 10:26] anivargi commented on #326
https://github.com/Tendrl/api/pull/327

[2017-11-02 10:26] #326 closed

[2017-11-06 16:44] mbukatov opened #328 "There is no api support for SNMP configuration"
## Description

For [Tendrl UI to be able to provide graphical way to configure SNMP](https://github.com/Tendrl/ui/issues/730), tendrl-api needs to provide related api calls.

## Version

[code]